{% block decimal_unit_widget %}
    {% set type = "number" %}
    {% set attr = attr|merge({'class': 'decimal', 'step': '0.05'}) %}
    {{ block('number_widget') }}
    {{ unit_label }}

    <script>
        {# Enforce leading zeros in typed values ("87.6" -> "87.60"). Works only in Webkit/Blink. :( #}
        {# Do not use "input" event — it looks better but makes manual typing harder. #}
        document.getElementById('{{ id }}').addEventListener('change', function(){
            this.value = this.valueAsNumber.toFixed(2);
        });
    </script>
{% endblock decimal_unit_widget %}

{% block radio_table_columns_row %}
    {# Do not render label for radiotable columns widget. #}
    {{ block('form_rows') }}
{% endblock radio_table_columns_row %}

{% block text_hints_widget %}
    {% set hints_list_id = id ~ '_hints' %}
    <datalist id="{{ hints_list_id }}">
        {% for hint in hints %}
            <option>{{ hint }}</option>
        {% endfor %}
    </datalist>

    {% set attr = attr|merge({'list': hints_list_id}) %}
    {{ block('form_widget') }}
{% endblock text_hints_widget %}
