{% block form_row %}
    <div class="form-item form-regular">
        <div>{{ form_label(form) }}</div>
        <div>{{ form_widget(form) }}</div>
    </div>
{% endblock form_row %}

{% block checkbox_row %}
    <div class="form-item form-checkbox">
        {{ form_widget(form) }}
        {{ form_label(form) }}
    </div>
{% endblock checkbox_row %}

{% block radio_row %}
    {{ block('checkbox_row') }}
{% endblock radio_row %}

{% block choice_row %}
    {% if expanded %}
        {# Do not render additional block for label when "expanded". #}
        {% for child in form %}
            {# Use proper markup for nested radio fields when "expanded". #}
            {{ form_row(child) }}
        {% endfor %}
    {% else %}
        {{ form_row(form) }}
    {% endif %}
{% endblock choice_row %}
