{% extends 'radiotable/table/radiotable.twig' %}

{%- block table_start -%}
    <table>
        <thead>
            <tr>
{%- endblock -%}
{%- block table_between -%}
            </tr>
        </thead>
        <tbody>
{%- endblock -%}
{%- block table_end -%}
        </tbody>
    </table>
{%- endblock -%}

{%- block heading_cell -%}
    <th>{{ columns_labels[column] }}</th>
{%- endblock -%}

{%- block row_start -%}
    <tr>
{%- endblock -%}
{%- block cell_start -%}
    <td>
{%- endblock -%}
{%- block cell_end -%}
    </td>
{%- endblock -%}
{%- block row_end -%}
    </tr>
{%- endblock -%}

{%- block radiostation_private_number -%}
    <span class="ni ni2">{{ parent() }}</span>
{%- endblock -%}
{%- block radiostation_frequency -%}
    <span class="ni">{{ parent() }}</span>
{%- endblock -%}
{%- block radiostation_power -%}
    <span class="ni ni3">{{ parent() }}</span>
{%- endblock -%}
{%- block radiostation_polarization -%}
    <abbr title="{{ polarization_labels[radiostation.polarization] }}">{{ parent() }}</abbr>
{%- endblock -%}
{%- block radiostation_locality_network %}
    <small title="sieć">{{ parent()|trim }}</small>
{%- endblock -%}
{%- block radiostation_rds -%}
    <span class="rds">{{ parent() }}</span>
{%- endblock -%}

{%- block radiostation_quality -%}
    {%- set quality_labels = {
        (constant('App\\Entity\\RadioStation::QUALITY_VERY_GOOD')): 'bardzo dobra',
        (constant('App\\Entity\\RadioStation::QUALITY_GOOD')):      'dobra',
        (constant('App\\Entity\\RadioStation::QUALITY_MIDDLE')):    'dostateczna',
        (constant('App\\Entity\\RadioStation::QUALITY_BAD')):       'zła',
        (constant('App\\Entity\\RadioStation::QUALITY_VERY_BAD')):  'bardzo zła',
    } -%}
    <span class="quality q{{ radiostation.quality }}" title="{{ quality_labels[radiostation.quality] }}">
        {{- parent() -}}
    </span>
{%- endblock -%}
