{% extends 'radiotable/table/radiotable.twig' %}

{%- block table_start -%}
    <table class="{%- block table_class 'radiotable' -%}">
        <thead>
            <tr>
{%- endblock -%}
{%- block table_between -%}
            </tr>
        </thead>
        <tbody>
{%- endblock -%}
{%- block table_end -%}
        </tbody>
    </table>
{%- endblock -%}

{%- block heading_cell -%}
    <th>{{ columns_labels[column] }}</th>
{%- endblock -%}

{%- block row_start -%}
    <tr {% if radiostation.marker %}class="marker-{{ radiostation.marker }}"{% endif %}>
{%- endblock -%}
{%- block cell_start -%}
    <td>
{%- endblock -%}
{%- block cell_end -%}
    </td>
{%- endblock -%}
{%- block row_end -%}
    </tr>
{%- endblock -%}

{%- block radiostation_private_number -%}
    <span data-number-indent="private-number">{{ parent() }}</span>
{%- endblock -%}
{%- block radiostation_frequency -%}
    <span data-number-indent="frequency">{{ parent() }}</span>
{%- endblock -%}
{%- block radiostation_power -%}
    <span data-number-indent="power">{{ parent() }}</span>
{%- endblock -%}
{%- block radiostation_distance -%}
    <span data-number-indent="distance">{{ parent() }}</span>
{%- endblock -%}
{%- block radiostation_polarization -%}
    <abbr title="{{ polarization_labels[radiostation.polarization] }}">{{ parent() }}</abbr>
{%- endblock -%}
{%- block radiostation_locality_network %}
    <small title="sieć">{{ parent()|trim }}</small>
{%- endblock -%}
{%- block radiostation_first_log_date %}
    <time>{{ parent() }}</time>
{%- endblock -%}
{%- block radiostation_rds -%}
    <span class="rds">{{ parent() }}</span>
{%- endblock -%}
{%- block radiostation_comment -%}
    {{ parent()|nl2br(false) }}
{%- endblock -%}

{%- block radiostation_quality -%}
    {%- set quality_labels = {
        (constant('App\\Entity\\RadioStation::QUALITY_VERY_GOOD')): 'bardzo dobra',
        (constant('App\\Entity\\RadioStation::QUALITY_GOOD')): 'dobra',
        (constant('App\\Entity\\RadioStation::QUALITY_MIDDLE')): 'dostateczna',
        (constant('App\\Entity\\RadioStation::QUALITY_BAD')): 'zła',
        (constant('App\\Entity\\RadioStation::QUALITY_VERY_BAD')): 'bardzo zła',
    } -%}
    <span class="quality quality-{{ radiostation.quality }}" title="{{ quality_labels[radiostation.quality] }}">
        {#- Skip whitespace for proper styling. -#}
        {{- parent() -}}
    </span>
{%- endblock -%}
