{% extends 'layout.html.twig' %}

{% block head_closing %}
    <link rel="stylesheet" href="{{ asset('css/user/login-register.css') }}">
{% endblock %}

{% block page_title %}{{ 'session.login.title'|trans }}{% endblock %}

{% block page_content %}
    {{ form_start(form) }}

    <div class="user-login-screen">
        <h1 class="h2">{{ 'session.login.title'|trans }}</h1>

        <div class="ui-block">
            <div class="ui-block-content">
                {{ form_row(form.username, {'attr': {'autofocus': ''}}) }}
                {{ form_row(form.password) }}
                {{ form_row(form.rememberMe) }}
            </div>
        </div>

        <div class="form-action-button">
            <button>{{ 'session.login.title'|trans }}</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
