{% extends 'layout.html.twig' %}

{% block page_title %}Logowanie{% endblock %}

{% block page_content %}
    <header class="sr-only">
        <h1>Konto użytkownika — logowanie</h1>
    </header>

    {{ form_start(form) }}

    <div class="user-login-screen">
        <h2>Zaloguj się</h2>

        {{ form_row(form.username, {'attr': {'autofocus': ''}}) }}
        {{ form_row(form.password) }}
        {{ form_row(form.rememberMe) }}

        <button>Zaloguj się</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
