{% extends 'layout.html.twig' %}

{% block page_title %}Logowanie{% endblock %}

{% block head_closing %}
    <script src="{{ asset('scripts/formsUI.js') }}" defer></script>
{% endblock %}

{% block page_content %}
    <header class="userLoginScreen">
        <h2>Konto użytkownika — logowanie i rejestracja</h2>
    </header>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(logInForm) }}

    <div id="useTabbedUI" class="userLoginScreen">
        <div>
            <h3>Zaloguj się</h3>

            <dl>
                {{ form_row(logInForm.username, {'attr': {'autofocus': ''}}) }}
                {{ form_row(logInForm.password) }}

                {# Avoid spaces around the checkbox to style it properly. #}
                {% spaceless %}
                    {{ form_row(logInForm.rememberMe) }}
                {% endspaceless %}
            </dl>

            <button>Zaloguj się</button>
        </div>
    </div>

    {{ form_end(logInForm) }}
{% endblock %}
