{% extends 'layout.html.twig' %}

{% block page_title %}Logowanie{% endblock %}

{% block head_closing %}
    <script src="{{ asset('scripts/formsUI.js') }}" defer></script>
{% endblock %}

{% block page_content %}
    <header class="userLoginScreen">
        <h2>Konto użytkownika — logowanie i rejestracja</h2>
    </header>

    {{ form_start(login_form) }}

    <div id="useTabbedUI" class="userLoginScreen">
        <div>
            <h3>Zaloguj się</h3>

            <dl>
                {{ form_row(login_form.username, {'attr': {'autofocus': ''}}) }}
                {{ form_row(login_form.password) }}

                {% spaceless %}
                    {{ form_row(login_form.rememberMe) }}
                {% endspaceless %}
            </dl>

            <button>Zaloguj się</button>
        </div>
    </div>

    {{ form_end(login_form) }}
{% endblock %}
