{%- trans_default_domain 'radio_table' -%}

<table class="{%- block table_class 'radio-table' -%}">
    <thead>
        <tr>
            {%- for column in radio_table.columns -%}
                {%- set column_heading = block('heading_cell') -%}
                {%- set column_title = ('column.' ~ column.value)|trans -%}
                <th
                    {%- block heading_cell_attr -%}
                        {%- if column_heading != column_title %} title="{{ column_title }}"{% endif -%}
                    {%- endblock -%}
                >
                    {%- block heading_cell -%}
                        {%- if column.value == 'frequency' -%}
                            {{- radio_table.frequencyUnit.label -}}
                        {%- elseif column.value == 'power' -%}
                            {{- radio_table.powerUnit.label -}}
                        {%- elseif column.value == 'distance' -%}
                            {{- radio_table.distanceUnit.label -}}
                        {%- elseif column.value == 'maxSignalLevel' -%}
                            {{- radio_table.maxSignalLevelUnit.label -}}
                        {%- else -%}
                            {{- ('heading.' ~ column.value)|trans -}}
                        {%- endif -%}
                    {%- endblock -%}
                </th>
            {%- endfor -%}
        </tr>
    </thead>

    <tbody>
        {%- for radio_station in radio_stations -%}
            {%- set appearance = radio_station.appearance -%}
            {%- set row_class = '' -%}

            {%- if appearance.background -%}
                {%- set row_class = row_class ~ 'background-' ~ appearance.background.value -%}
            {%- endif -%}

            {%- if appearance.bold -%}
                {%- set row_class = row_class ~ ' text-bold' -%}
            {%- endif -%}

            {%- if appearance.italic -%}
                {%- set row_class = row_class ~ ' text-italic' -%}
            {%- endif -%}

            {%- if appearance.strikethrough -%}
                {%- set row_class = row_class ~ ' text-strikethrough' -%}
            {%- endif -%}

            <tr {% if row_class %}class="{{ row_class }}"{% endif %}>
                {%- for column in radio_table.columns -%}
                    <td>
                        {%- if attribute(radio_station, column.value) is not null -%}
                            {%- if column.value == 'name' -%}
                                {%- block body_cell_name radio_station.name -%}

                            {%- elseif column.value == 'privateNumber' -%}
                                <span data-number-indent="private-number">
                                    {{- radio_station.privateNumber -}}
                                </span>

                            {%- elseif column.value == 'frequency' -%}
                                <span data-number-indent="frequency">
                                    {{- radio_station.frequency|format_number({min_fraction_digit: 2, grouping_used: false}) -}}
                                </span>

                            {%- elseif column.value == 'power' -%}
                                <span data-number-indent="power">
                                    {{- radio_station.power|format_number({min_fraction_digit: 2, grouping_used: false}) -}}
                                </span>

                            {%- elseif column.value == 'type' -%}
                                {{- ('type.' ~ radio_station.type.value)|trans -}}

                            {%- elseif column.value == 'reception' -%}
                                {{- ('reception.' ~ radio_station.reception.value)|trans -}}

                            {%- elseif column.value == 'polarization' -%}
                                <abbr title="{{ ('polarization.' ~ radio_station.polarization.value)|trans }}">
                                    {{- radio_station.polarization.label -}}
                                </abbr>

                            {%- elseif column.value == 'dabChannel' -%}
                                {{- radio_station.dabChannel.value -}}

                            {%- elseif column.value == 'quality' -%}
                                <span class="quality quality-{{ radio_station.quality.value }}"
                                      title="{{ ('quality.' ~ radio_station.quality.value)|trans }}">
                                    <span class="raw">{{- radio_station.quality.label -}}</span>
                                    <span class="dots" aria-hidden="true"></span>
                                </span>

                            {%- elseif column.value == 'distance' -%}
                                <span data-number-indent="distance">
                                    {{- radio_station.distance -}}
                                </span>

                            {%- elseif column.value == 'maxSignalLevel' -%}
                                <span data-number-indent="max-signal-level">
                                    {{- radio_station.maxSignalLevel -}}
                                </span>

                            {%- elseif column.value == 'firstLogDate' -%}
                                <time>{{ radio_station.firstLogDate }}</time>

                            {%- elseif column.value == 'comment' -%}
                                {%- block body_cell_comment radio_station.comment|nl2br(false) -%}

                            {%- elseif column.value == 'externalAnchor' -%}
                                <a class="external" href="{{ radio_station.externalAnchor }}" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 30 30"><path d="M25 25H5V5.075L10 5V0H0v30h30V17.5h-5zM15 0l5 5-7.5 7.5 5 5L25 10l5 5V0z"/></svg>
                                    <span class="sr-only">
                                        {{- 'external_anchor.text'|trans({'%name%': radio_station.name}) -}}
                                    </span>
                                </a>

                            {%- elseif column.value == 'rds' -%}
                                {%- if radio_station.rds.ps|first and radio_station.rds.ps|first|first|trim -%}
                                    {%- block body_cell_rds -%}
                                        <span class="rds">
                                            {{- radio_station.rds.ps|first|first|replace({'_':' '})|align_rds_frame -}}
                                        </span>
                                    {%- endblock -%}
                                {%- endif -%}

                            {%- else -%}
                                {{- attribute(radio_station, column.value) -}}
                            {%- endif -%}
                        {%- endif -%}
                    </td>
                {%- endfor -%}
            </tr>
        {%- endfor -%}
    </tbody>
</table>
