{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'radio_table.create.title'|trans }}{% endblock %}

{% block head_closing %}
    {{ encore_entry_link_tags('radio-table-create') }}
    {{ encore_entry_script_tags('radio-table-create') }}
{% endblock %}

{% block page_content %}
    <header>
        <h1>{{ 'radio_table.create.title_long'|trans }}</h1>
    </header>

    {{ form_start(form) }}

    <div class="ui-block">
        <div class="ui-block-content">
            {{ form_row(form.name) }}

            <div class="radio-table-status">
                {{ form_row(form.status) }}
            </div>
        </div>
    </div>

    <button>{{ 'radio_table.create.title'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}
