{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'radio_table.create.title'|trans }}{% endblock %}

{% block head_closing %}
    {{ encore_entry_link_tags('radio-table-create') }}
    {{ encore_entry_script_tags('radio-table-create') }}
{% endblock %}

{% block page_content %}
    <header>
        <h1>{{ 'radio_table.create.title_long'|trans }}</h1>
    </header>

    {{ form_start(form) }}

    <div class="tabbed-ui">
        <div>
            <h2>{{ 'radio_table.settings.heading.general'|trans }}</h2>

            {{ form_row(form.name) }}
            {{ form_row(form.frequencyUnit) }}
            {{ form_row(form.description) }}
        </div>

        <div>
            <h2>{{ 'radio_table.settings.heading.visibility'|trans }}</h2>

            <div class="radio-table-status">
                {{ form_row(form.status) }}
            </div>
        </div>
    </div>

    <button>{{ 'radio_table.create.title'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}
