{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'radio_table.export.title'|trans }}{% endblock %}

{% block head_closing %}
    <link rel="stylesheet" href="{{ asset('css/radio-table/export.css') }}">
{% endblock %}

{% block context_menu %}
    <li>
        <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
            {{ 'radio_table.show.title'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('radio_table.settings', {id: radio_table.id}) }}">
            {{ 'radio_table.settings.title'|trans }}
        </a>
    </li>
{% endblock %}

{% block page_content %}
    <header>
        <h1 class="separated-title">
            <span>{{ 'radio_table.export.title'|trans }}</span>
            <span class="additional">{{ radio_table.name }}</span>
        </h1>
    </header>


    {% if radio_table.radioStationsCount > 0 %}
        <div class="ui-block">
            <div class="ui-block-content">
                <p class="information">
                    {{ 'radio_table.export.information.export'|trans }}
                </p>

                <ul class="radio-table-export-list">
                    <li>
                        <a href="{{ path('radio_table.download', {id: radio_table.id, _format: enum(format_enum).XLSX.value}) }}" class="button">
                            {{ 'radio_table.export.action.download_xlsx'|trans }}
                        </a>
                        {{ 'radio_table.export.text.about_xlsx'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('radio_table.download', {id: radio_table.id, _format: enum(format_enum).ODS.value}) }}" class="button">
                            {{ 'radio_table.export.action.download_ods'|trans }}
                        </a>
                        {{ 'radio_table.export.text.about_ods'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('radio_table.download', {id: radio_table.id, _format: enum(format_enum).CSV.value}) }}" class="button">
                            {{ 'radio_table.export.action.download_csv'|trans }}
                        </a>
                        {{ 'radio_table.export.text.about_csv'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('radio_table.download', {id: radio_table.id, _format: enum(format_enum).PDF.value}) }}" class="button">
                            {{ 'radio_table.export.action.download_pdf'|trans }}
                        </a>
                        {{ 'radio_table.export.text.about_pdf'|trans }}

                        {% if radio_table.radioStationsCount > pdf_format_radio_stations_max_count %}
                            {{ 'radio_table.export.text.about_pdf_extra_max_count'|trans({'%count%': pdf_format_radio_stations_max_count}) }}
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('radio_table.download', {id: radio_table.id, _format: enum(format_enum).HTML.value}) }}" class="button">
                            {{ 'radio_table.export.action.download_html'|trans }}
                        </a>
                        {{ 'radio_table.export.text.about_html'|trans }}
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <p class="information">
            {{ 'radio_table.export.information.export_cannot_empty'|trans }}
        </p>
    {% endif %}
{% endblock %}
