{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'radio_table.remove.title'|trans }}{% endblock %}

{% block head_closing %}
    {{ encore_entry_script_tags('radio-table-remove') }}
{% endblock %}

{% block context_menu %}
    <ul>
        <li>
            <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                {{ 'radio_table.show.title'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('radio_table.export', {id: radio_table.id}) }}">
                {{ 'radio_table.remove.action.export'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('radio_table.settings', {id: radio_table.id}) }}">
                {{ 'radio_table.settings.title'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}

{% form_theme form_radio_station _self %}
{% block _radio_station_remove_chosenToRemove_entry_label %}
    {% set label = '%s (%s %s)'|format(label, frequency|format_number({min_fraction_digit: 2, grouping_used: false}), get_frequency_label(frequency_unit)) %}
    {{ block('form_label') }}
{% endblock %}

{% block page_content %}
    <header>
        <h1 class="separated-title">
            <span>{{ 'radio_table.remove.title'|trans }}</span>
            <span class="additional">{{ radio_table.name }}</span>
        </h1>
    </header>

    <div class="tabbed-ui">
        <div>
            <h2>{{ 'radio_table.remove.heading.remove_radio_station'|trans }}</h2>

            {% if radio_table.radioStationsCount > 0 %}
                {{ form_start(form_radio_station) }}

                <div class="radio-stations-remove">
                    {{ form_row(form_radio_station.chosenToRemove) }}
                </div>

                <button>{{ 'radio_table.remove.action.selected_radio_stations'|trans }}</button>

                {{ form_end(form_radio_station) }}
            {% else %}
                <p class="information">
                    {{ 'radio_table.remove.information.empty_cannot_remove_radio_station'|trans }}
                </p>
            {% endif %}
        </div>
        <div>
            <h2>{{ 'radio_table.remove.heading.remove_radio_table'|trans }}</h2>

            <p class="information">
                {{ 'radio_table.remove.information.cannot_be_undone'|trans }}
            </p>

            {{ form_start(form_radio_table) }}

            {{ form_row(form_radio_table.confirm, {
                label_translation_parameters: { '%name%': radio_table.name },
                attr: {
                    'class': 'radio-table-remove-confirm',
                    'data-confirm-message': 'radio_table.remove.text.confirm_alert'|trans,
                },
            }) }}

            <button>{{ 'radio_table.remove.action.radio_table'|trans }}</button>

            {{ form_end(form_radio_table) }}
        </div>
    </div>
{% endblock %}
