{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'radio_table.settings.title'|trans }}{% endblock %}

{% block head_closing %}
    {{ encore_entry_script_tags('radio-table-settings') }}
{% endblock %}

{% block context_menu %}
    <ul>
        <li>
            <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                {{ 'radio_table.show.title'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('radio_station.add', {radioTableId: radio_table.id}) }}">
                {{ 'radio_station.add.title'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('radio_table.remove', {id: radio_table.id}) }}">
                {{ 'radio_table.remove.title'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h1 class="separated-title">
            <span>{{ 'radio_table.settings.title'|trans }}</span>
            <span class="additional">{{ radio_table.name }}</span>
        </h1>
    </header>

    {{ form_start(form) }}

    <div class="tabbed-ui">
        <div>
            <h2>{{ 'radio_table.settings.heading.general'|trans }}</h2>

            {{ form_row(form.name) }}
            {{ form_row(form.frequencyUnit) }}
            {{ form_row(form.maxSignalLevelUnit) }}
            {{ form_row(form.sorting) }}
            {{ form_row(form.description) }}
        </div>

        <div>
            <h2>{{ 'radio_table.settings.heading.visibility'|trans }}</h2>

            <div class="radio-table-status">
                {{ form_row(form.status) }}
            </div>
        </div>

        <div>
            <h2>{{ 'radio_table.settings.heading.columns'|trans }}</h2>

            <noscript>
                <p class="information">
                    {{ 'radio_table.settings.information.columns'|trans }}
                </p>
            </noscript>

            <div class="radio-table-columns">
                {{ form_row(form.columns) }}

                <template class="radio-table-columns-buttons-template">
                    <button type="button" class="toggle"
                            data-show-label="{{ 'radio_table.settings.columns_ui.action.toggle_show'|trans }}"
                            data-hide-label="{{ 'radio_table.settings.columns_ui.action.toggle_hide'|trans }}">
                    </button>
                    <button type="button" class="move-up">{{ 'radio_table.settings.columns_ui.action.move_up'|trans }}</button>
                    <button type="button" class="move-down">{{ 'radio_table.settings.columns_ui.action.move_down'|trans }}</button>
                </template>
            </div>
        </div>

        <div>
            <h2>{{ 'radio_table.settings.heading.appearance'|trans }}</h2>

            {% set jscolor_settings = '{mode:\'HSV\', required:false, hash:true, borderRadius:0, borderWidth:0, shadowBlur:2}' %}

            {{ form_row(form.appearanceTheme, {attr: {'class': 'radio-table-theme'}}) }}

            {# style="" is used as dirty hack for box-shadow removing. #}
            <div class="radio-table-custom-theme-wrapper">
                {{ form_row(form.appearanceBackgroundColor, {attr: {
                    'class': 'jscolor',
                    'style': '',
                    'data-jscolor': jscolor_settings,
                }}) }}
                {{ form_row(form.appearanceColor, {attr: {
                    'class': 'jscolor',
                    'style': '',
                    'data-jscolor': jscolor_settings,
                }}) }}
                {{ form_row(form.appearanceBackgroundImage) }}
            </div>

            {{ form_row(form.appearanceWidthType, {attr: {'class': 'radio-table-width-type'}}) }}

            <div class="radio-table-custom-width-wrapper">
                {{ form_row(form.appearanceCustomWidth, {'unit_label': 'px'}) }}
            </div>

            <script>
            (function(){
                const CUSTOM_THEME_NAME = '';
                let themeSelectorField = document.querySelector('.radio-table-theme');
                let customThemeFieldsWrapper = document.querySelector('.radio-table-custom-theme-wrapper');

                let updateFieldVisibility = () => {
                    customThemeFieldsWrapper.hidden = (themeSelectorField.value != CUSTOM_THEME_NAME);
                };
                updateFieldVisibility();
                themeSelectorField.addEventListener('change', updateFieldVisibility);
                themeSelectorField.addEventListener('blur', updateFieldVisibility);
            })();
            (function(){
                const WIDTH_CUSTOM = '{{ constant('WIDTH_CUSTOM', radio_table.appearance) }}';
                let localityTypeInput = document.querySelector('.radio-table-width-type');
                let localityCityWrapper = document.querySelector('.radio-table-custom-width-wrapper');

                let updateFieldVisibility = () => {
                    localityCityWrapper.hidden = (localityTypeInput.value != WIDTH_CUSTOM);
                };
                updateFieldVisibility();
                localityTypeInput.addEventListener('change', updateFieldVisibility);
                localityTypeInput.addEventListener('blur', updateFieldVisibility);
            })();
            </script>

            {{ form_row(form.appearanceCollapsedComments) }}
        </div>

        <div id="export">
            <h2>{{ 'radio_table.settings.heading.export'|trans }}</h2>

            {% if radio_table.radioStationsCount > 0 %}
                <p class="information">
                    {{ 'radio_table.settings.information.export'|trans }}
                </p>

                <ul class="radio-table-export-list">
                    <li>
                        <a href="{{ path('radio_table.download', {id: radio_table.id, _format: 'pdf'}) }}" class="button">
                            {{ 'radio_table.settings.export.action.download_pdf'|trans }}
                        </a>
                        {{ 'radio_table.settings.export.text.about_pdf'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('radio_table.download', {id: radio_table.id, _format: 'csv'}) }}" class="button">
                            {{ 'radio_table.settings.export.action.download_csv'|trans }}
                        </a>
                        {{ 'radio_table.settings.export.text.about_csv'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('radio_table.download', {id: radio_table.id, _format: 'html'}) }}" class="button">
                            {{ 'radio_table.settings.export.action.download_html'|trans }}
                        </a>
                        {{ 'radio_table.settings.export.text.about_html'|trans }}
                    </li>
                </ul>
            {% else %}
                <p class="information">
                    {{ 'radio_table.settings.information.export_cannot_empty'|trans }}
                </p>
            {% endif %}
        </div>
    </div>

    <button>{{ 'common.action.save'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}

{% block body_closing %}
    <script src="{{ asset('thirdparty/jscolor.min.js') }}" async></script>
{% endblock %}
