{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'radio_table.settings.title'|trans }}{% endblock %}

{% block head_closing %}
    {{ encore_entry_link_tags('radio-table-settings') }}
    {{ encore_entry_script_tags('radio-table-settings') }}
{% endblock %}

{% block context_menu %}
    <li>
        <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
            {{ 'radio_table.show.title'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('radio_station.add', {radioTableId: radio_table.id}) }}">
            {{ 'radio_station.add.title'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('radio_table.export', {id: radio_table.id}) }}">
            {{ 'radio_table.export.title'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('radio_station.bulk_remove', {id: radio_table.id}) }}">
            {{ 'radio_station.bulk_remove.title'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('radio_table.remove', {id: radio_table.id}) }}">
            {{ 'radio_table.remove.title'|trans }}
        </a>
    </li>
{% endblock %}

{% block page_content %}
    <header>
        <h1 class="separated-title">
            <span>{{ 'radio_table.settings.title'|trans }}</span>
            <span class="additional">{{ radio_table.name }}</span>
        </h1>
    </header>

    {{ form_start(form) }}

    <div class="ui-block">
        <div class="ui-block-heading">
            <h2>{{ 'radio_table.settings.heading.general'|trans }}</h2>
        </div>

        <div class="ui-block-content">
            {{ form_row(form.name) }}

            <div class="form-columns">
                {{ form_row(form.frequencyUnit) }}
                {{ form_row(form.maxSignalLevelUnit) }}
                {{ form_row(form.sorting) }}
            </div>

            {{ form_row(form.description) }}
        </div>
    </div>

    <div class="ui-block">
        <div class="ui-block-heading">
            <h2>{{ 'radio_table.settings.heading.visibility'|trans }}</h2>
        </div>

        <div class="ui-block-content">
            <div class="radio-table-status">
                {{ form_row(form.status) }}
            </div>
        </div>
    </div>

    <div class="ui-block">
        <div class="ui-block-heading">
            <h2>{{ 'radio_table.settings.heading.columns'|trans }}</h2>
        </div>

        <div class="ui-block-content">
            <a class="button" href="{{ path('radio_table.columns', {id: radio_table.id}) }}">
                {{ 'radio_table.settings.action.set_custom_columns'|trans }}
            </a>
        </div>
    </div>

    <div class="ui-block">
        <div class="ui-block-heading">
            <h2>{{ 'radio_table.settings.heading.appearance'|trans }}</h2>
        </div>

        <div class="ui-block-content">
            <div class="form-columns">
                {{ form_row(form.appearanceBackgroundColor, {attr: {
                    'class': 'color radio-table-appearance-color',
                    'autocomplete': 'off',
                }}) }}
                {{ form_row(form.appearanceColor, {attr: {
                    'class': 'color radio-table-appearance-color',
                    'autocomplete': 'off',
                }}) }}
            </div>

            <div class="form-columns">
                {{ form_row(form.appearanceWidthType, {attr: {
                    'class': 'radio-table-width-type',
                    'data-custom-width-value': constant('WIDTH_CUSTOM', radio_table.appearance),
                }}) }}

                <div class="radio-table-custom-width-wrapper">
                    {{ form_row(form.appearanceCustomWidth, {'unit_label': 'px'}) }}
                </div>
            </div>

            {{ form_row(form.appearanceCollapsedComments) }}
        </div>
    </div>

    <button>{{ 'common.action.save'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}
