{% extends 'layout.html.twig' %}

{% set appearance = radio_table.appearance %}
{% set custom_css = '' %}

{% if appearance.textColor %}
    {% set custom_css = custom_css ~ '.customizable-color { color: %s }'|format(appearance.textColor) %}
{% endif %}

{% if appearance.backgroundColor %}
    {% set custom_css = custom_css ~ '.customizable-background { background: %s }'|format(appearance.backgroundColor) %}
{% endif %}

{% if appearance.widthType == constant('WIDTH_CUSTOM', appearance) %}
    {% set custom_css = custom_css ~ '.custom-width .site-width { max-width: %spx }'|format(appearance.customWidth) %}
{% endif %}

{% block html_classes %}
    {%- if custom_css %}customized-radio-table{% endif -%}
    {%- if appearance.widthType == constant('WIDTH_FULL', appearance) %} full-width{% endif -%}
    {%- if appearance.widthType == constant('WIDTH_CUSTOM', appearance) %} custom-width{% endif -%}
{% endblock %}

{% block page_title %}{{ radio_table.name }}{% endblock %}

{% block head_closing %}
    {% if radio_table.status != constant('STATUS_PUBLIC', radio_table) %}
        <meta name="robots" content="noindex, noarchive">
    {% endif %}

    {{ encore_entry_link_tags('radio-table-show') }}
    {{ encore_entry_script_tags('radio-table-show') }}

    {% if custom_css %}<style>{{ custom_css|raw }}</style>{% endif %}
{% endblock %}

{% block context_menu %}
    {% if is_granted('RADIO_TABLE_MODIFY', radio_table) %}
        <ul>
            <li>
                <a href="{{ path('radio_station.add', {radioTableId: radio_table.id}) }}">
                    {{ 'radio_station.add.title'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('radio_table.settings', {id: radio_table.id}) }}">
                    {{ 'radio_table.settings.title'|trans }}
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block page_content %}
    <header class="customizable-color">
        <h1>{{ radio_table.name }}</h1>
    </header>

    {% if radio_table.radioStationsCount > 0 %}
        <div class="radio-table-container customizable-color">
            {% embed 'radio_table/_radio_table.html.twig' %}
                {%- block table_class 'radio-table sortable' -%}

                {%- block heading_cell_attr -%}
                    {%- set columns_sorting = {
                        (constant('COLUMN_DISTANCE', radio_table)): 'N',
                        (constant('COLUMN_FREQUENCY', radio_table)): 'N',
                        (constant('COLUMN_MAX_SIGNAL_LEVEL', radio_table)): 'N',
                        (constant('COLUMN_POWER', radio_table)): 'N',
                        (constant('COLUMN_PRIVATE_NUMBER', radio_table)): 'N',
                        (constant('COLUMN_QUALITY', radio_table)): 'N',
                        (constant('COLUMN_COUNTRY', radio_table)): 'T',
                        (constant('COLUMN_FIRST_LOG_DATE', radio_table)): 'T',
                        (constant('COLUMN_LOCALITY', radio_table)): 'T',
                        (constant('COLUMN_LOCATION', radio_table)): 'T',
                        (constant('COLUMN_NAME', radio_table)): 'T',
                        (constant('COLUMN_POLARIZATION', radio_table)): 'T',
                        (constant('COLUMN_MULTIPLEX', radio_table)): 'T',
                        (constant('COLUMN_DAB_CHANNEL', radio_table)): 'T',
                        (constant('COLUMN_RADIO_GROUP', radio_table)): 'T',
                        (constant('COLUMN_RECEPTION', radio_table)): 'T',
                        (constant('COLUMN_RDS_PI', radio_table)): 'T',
                        (constant('COLUMN_TYPE', radio_table)): 'T',
                    } -%}
                    {%- if columns_sorting[column] is defined %} data-sort="{{ columns_sorting[column] }}"{% endif -%}
                    {{- parent() -}}
                {%- endblock -%}

                {%- block heading_cell -%}
                    {%- if column == constant('COLUMN_COMMENT', radio_table) and radio_table.appearance.collapsedComments -%}
                        {{- 'heading.comment.short'|trans({}, 'radio_table') -}}
                    {%- else -%}
                        {{- parent() -}}
                    {%- endif -%}
                {%- endblock -%}

                {#- Check for permission outside of radio station loop for better performance. -#}
                {%- set is_granted = is_granted('RADIO_TABLE_MODIFY', radio_table) -%}

                {%- block body_cell_name -%}
                    {%- if is_granted -%}
                        <a href="{{ path('radio_station.edit', {id: radio_station.id, radioTableId: radio_station.radioTable.id}) }}">
                            {{- parent() -}}
                        </a>
                    {%- else -%}
                        {{- parent() -}}
                    {%- endif -%}
                {%- endblock -%}

                {%- block body_cell_comment -%}
                    {%- if radio_table.appearance.collapsedComments -%}
                        <span class="comment-collapsed" title="{{ radio_station.comment|replace({"\r": ""})|escape('html_attr') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 30 30"><path d="M15 30a15 15 0 110-30 15 15 0 010 30zm0-3a12 12 0 100-24 12 12 0 000 24zm0-13.5a1.5 1.5 0 011.5 1.5v6a1.5 1.5 0 01-3 0v-6a1.5 1.5 0 011.5-1.5zm0-6a1.5 1.5 0 110 3 1.5 1.5 0 010-3z"/></svg>
                        </span>
                    {%- else -%}
                        {{- parent() -}}
                    {%- endif -%}
                {%- endblock -%}

                {%- block body_cell_rds -%}
                    {%- set rds_rt = [] -%}
                    {%- for frame in radio_station.rds.rt -%}
                        {%- set rds_rt = rds_rt|merge([frame|replace({'_':' '})|escape]) -%}
                    {%- endfor -%}

                    {%- set rds_ps_groups = [] -%}
                    {%- for group_key in radio_station.rds.ps|keys -%}
                        {%- set group = [] -%}
                        {%- for frame in radio_station.rds.ps[group_key] -%}
                            {%- set group = group|merge([frame|replace({'_':' '})|align_rds_frame|escape]) -%}
                        {%- endfor -%}
                        {%- set rds_ps_groups = rds_ps_groups|merge([group]) -%}
                    {%- endfor -%}

                    {%- set rds_pty = radio_station.rds.pty|escape -%}

                    <span data-pty="{{ rds_pty|json_encode|escape('html_attr') }}"
                          data-rt="{{ rds_rt|json_encode|escape('html_attr') }}"
                          data-ps="{{ rds_ps_groups|json_encode|escape('html_attr') }}"
                          class="rds rds-popup-enabled">
                        {{- radio_station.rds.ps|first|first|replace({'_':' '})|align_rds_frame -}}
                    </span>
                {%- endblock -%}
            {% endembed %}

            <template class="rds-popup-template">
                <section class="rds-popup" role="alert">
                    <h2>{{ 'radio_table.show.rds_popup.title'|trans }}</h2>
                    <dl>
                        <div class="rds-popup-ps-row">
                            <dt>{{ 'radio_table.show.rds_popup.ps'|trans }}</dt>
                            <dd class="rds-popup-ps-value"></dd>
                        </div>
                        <div class="rds-popup-rt-row">
                            <dt>{{ 'radio_table.show.rds_popup.rt'|trans }}</dt>
                            <dd class="rds-popup-rt-value rds-wrap"></dd>
                        </div>
                        <div class="rds-popup-pty-row">
                            <dt>{{ 'radio_table.show.rds_popup.pty'|trans }}</dt>
                            <dd class="rds-popup-pty-value"></dd>
                        </div>
                    </dl>
                </section>
            </template>
        </div>

        <section class="radio-table-details customizable-color">
            <h3 class="sr-only">{{ 'radio_table.show.heading.details'|trans }}</h3>

            {{ radio_table.description|raw }}
            <dl>
                <div>
                    <dt>{{ 'radio_table.detail.radio_stations_count'|trans }}</dt>
                    <dd>{{ radio_table.radioStationsCount }}</dd>
                </div>
                <div>
                    <dt>{{ 'radio_table.detail.last_update_time'|trans }}</dt>
                    <dd>{{ radio_table.lastUpdateTime|format_date_html }}</dd>
                </div>
                {% if radio_table.owner.publicProfile %}
                    <div>
                        <dt>{{ 'radio_table.detail.author'|trans }}</dt>
                        <dd>
                            <a href="{{ path('user.public_profile', {name: radio_table.owner.name}) }}">
                                {{ radio_table.owner.name }}
                            </a>
                        </dd>
                    </div>
                {% endif %}
            </dl>
        </section>
    {% else %}
        <p class="information">
            {% if is_granted('RADIO_TABLE_MODIFY', radio_table) %}
                {{ 'radio_table.show.information.empty_editable'|trans({
                    '%anchor%': '<a href="' ~ path('radio_station.add', {radioTableId: radio_table.id}) ~ '">',
                    '%anchor_end%': '</a>',
                })|raw }}
            {% else %}
                {{ 'radio_table.show.information.empty'|trans }}
            {% endif %}
        </p>
    {% endif %}
{% endblock %}
