<!doctype html>

<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="generator" content="RadioLista {{ app_version }} — {{ app.request.schemeAndHttpHost }}">
        <title>{{ radio_table.name }} — RadioLista</title>
        <style>
            @page {
                {# Don't add "size: A4 landscape" there, as this disables -#}
                {# advanced settings in browsers' printing dialogs. -#}
                margin: 35px 39px;
            }
            body {
                margin: 0 3%;
                background: #fff;
                color: #000;
                cursor: default;
                {# "Lato" is used for generating PDF files. -#}
                font: 16px 'Lato', system-ui, sans-serif;
                {# Some fonts may use non-tabular numbers by default. -#}
                font-variant-numeric: tabular-nums;
            }
            @media print {
                body {
                    margin: 0;
                }
            }
            .sr-only {
                position: absolute !important;
                height: 1px; width: 1px;
                overflow: hidden;
                clip: rect(1px, 1px, 1px, 1px);
            }
            a {
                color: #0850AA;
                text-decoration: none;
                border-bottom: 1px solid #aaa;
            }
            h1 {
                font-weight: normal;
                text-align: center;
                margin: 0.8em 0 0.85em;
            }
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table th {
                text-align: left;
                white-space: nowrap;
            }
            table td {
                border-top: 1px solid #ebebeb;
            }
            table th, table td {
                padding: 0.35em 0.5em;
            }
            table tbody tr {
                transition: all ease-out 0.1s;
            }
            table tbody tr:hover {
                background: #eee;
            }
            table time {
                white-space: nowrap;
            }
            .quality {
                {# Required for compatibility with Dompdf. -#}
                display: inline-block;
            }
            .quality .raw {
                color: rgba(0,0,0, 0);
                position: absolute;
            }
            .quality .dots::before {
                margin-right: -5px;
                letter-spacing: 2px;
                color: #222;
            }
            .quality.quality-5 .dots::before {
                content: "●●●●●";
            }
            .quality.quality-4 .dots::before {
                content: "●●●●";
            }
            .quality.quality-3 .dots::before {
                content: "●●●";
            }
            .quality.quality-2 .dots::before {
                content: "●●";
            }
            .quality.quality-1 .dots::before {
                content: "●";
            }
            .text-bold {
                font-weight: bold;
            }
            .text-italic {
                font-style: italic;
            }
            .text-strikethrough {
                text-decoration: line-through;
            }
            .background-1 {
                background: rgba(253,198,198, 0.45);
            }
            .background-2 {
                background: rgba(175,255,150, 0.4);
            }
            .background-3 {
                background: rgba(156,230,255, 0.35);
            }
            .background-4 {
                background: rgba(255,255,120, 0.3);
            }
            .background-5 {
                background: rgba(255,177,255, 0.3);
            }
            .rds {
                white-space: pre;
                font-family: 'Inconsolata', 'Consolas', 'Source Code Pro', 'Lucida Console', monospace;
                background: #dedede;
                padding: 0 3px;
                {# Reset markers. -#}
                font-weight: normal;
                font-style: normal;
                text-decoration: none;
            }
            .number-indent-1::before {
                {# Avoid using "ch" CSS unit for compatibility with Dompdf. -#}
                content: "\2007";
            }
            .number-indent-2::before {
                content: "\2007\2007";
            }
            .number-indent-3::before {
                content: "\2007\2007\2007";
            }
            .number-indent-4::before {
                content: "\2007\2007\2007\2007";
            }
            .number-indent-5::before {
                content: "\2007\2007\2007\2007\2007";
            }
            .number-indent-1::before, .number-indent-2::before, .number-indent-3::before, .number-indent-4::before, .number-indent-5::before {
                visibility: hidden;
            }
            .number-indent-1, .number-indent-2, .number-indent-3, .number-indent-4, .number-indent-5 {
                white-space: nowrap;
            }
            a.external {
                border-bottom: none;
                color: inherit;

                {# Required for compatibility with Dompdf. -#}
                display: inline-block;
            }
            a.external img {
                height: 1em;
                padding: 2px 1px 0 1px;
                vertical-align: top;
            }
            footer {
                font-size: 0.85em;
                text-align: center;
            }
            footer p {
                margin: 1.8em 0 2.3em;
            }
        </style>
    </head>

    <body>
        <header>
            <h1>{{ radio_table.name }}</h1>
        </header>

        {% embed 'radio_table/_radio_table.html.twig' %}
            {%- block body_cell_external_anchor_icon -%}
                {#- SVG tag replaced with an image for compatibility with Dompdf. -#}
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='%23000' d='M25 25H5V5.075L10 5V0H0v30h30V17.5h-5zM15 0l5 5-7.5 7.5 5 5L25 10l5 5V0z'/%3E%3C/svg%3E">
            {%- endblock -%}
        {% endembed %}

        <footer>
            <p>
                {{ 'radio_table.standalone.about'|trans({
                    '%anchor%': '<a href="' ~ app.request.schemeAndHttpHost ~ '">RadioLista</a>',
                    '%date%': 'now'|format_date_html,
                })|raw }}
            </p>
        </footer>
    </body>
</html>
