{% form_theme form 'radio_station/_radio_station_tabs_theme.html.twig' %}

<div class="tabbed-ui">
    <div>
        <h2>{{ 'radio_station.edit.heading.general'|trans }}</h2>

        {{ form_row(form.frequency, {
            attr: { 'class': 'frequency-input' },
            'unit_label': get_frequency_label(radio_station.radioTable.frequencyUnit),
        }) }}
        {{ form_row(form.name) }}
        {{ form_row(form.radioGroup) }}
        {{ form_row(form.country) }}
        {{ form_row(form.type) }}
    </div>
    <div>
        <h2>{{ 'radio_station.edit.heading.broadcast'|trans }}</h2>

        {{ form_row(form.location) }}
        {{ form_row(form.power, {'unit_label': 'kW'}) }}
        {{ form_row(form.polarization) }}
        {{ form_row(form.multiplex) }}
        {{ form_row(form.dabChannel, {attr: { 'class': 'dab-channel-input' }}) }}
    </div>
    <div>
        <h2>{{ 'radio_station.edit.heading.reception'|trans }}</h2>

        {{ form_row(form.distance, {'unit_label': 'km'}) }}
        {{ form_row(form.maxSignalLevel, {'unit_label': get_max_signal_level_label(radio_station.radioTable.maxSignalLevelUnit)}) }}
        {{ form_row(form.reception) }}
        {{ form_row(form.quality) }}
        {{ form_row(form.firstLogDate) }}
    </div>
    <div>
        <h2>{{ 'radio_station.edit.heading.personal'|trans }}</h2>

        {{ form_row(form.privateNumber) }}
        {{ form_row(form.marker) }}
        {{ form_row(form.externalAnchor) }}
        {{ form_row(form.comment) }}
    </div>
    <div>
        <h2>{{ 'radio_station.edit.heading.rds'|trans }}</h2>

        <noscript>
            <p class="information">
                {{ 'radio_station.edit.information.rds_popup'|trans }}
            </p>
        </noscript>

        <div class="radio-station-rds">
            {{ form_row(form.rdsPi) }}
            {{ form_row(form.rdsPs, {attr: {wrap: 'off'}}) }}
            {{ form_row(form.rdsRt, {attr: {wrap: 'off'}}) }}
            {{ form_row(form.rdsPty) }}
        </div>
    </div>
</div>
