{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'radio_station.add.title'|trans }}{% endblock %}

{% block head_closing %}
    {{ encore_entry_script_tags('radio-station-edit-add') }}
{% endblock %}

{% block context_menu %}
    <ul>
        <li>
            <a href="{{ path('radio_table.show', {id: radio_station.radioTable.id}) }}">
                {{ 'radio_table.show.title'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('radio_table.settings', {id: radio_station.radioTable.id}) }}">
                {{ 'radio_table.settings.title'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h1 class="separated-title">
            <span>{{ 'radio_station.add.title_long'|trans }}</span>
            <span class="additional">
                <span class="sr-only">{{ 'radio_station.edit.text.for_radio_table_a11y_subheading'|trans }}</span>
                {{ radio_station.radioTable.name }}
            </span>
        </h1>
    </header>

    {{ form_start(form) }}

    {% include 'radio_station/_radio_station_tabs.html.twig' %}

    <button>{{ 'radio_station.add.title'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}
