{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'radio_station.edit.title'|trans }}{% endblock %}

{% block head_closing %}
    <link rel="stylesheet" href="{{ asset('css/radio-station/edit-add.css') }}">
    <script type="module" src="{{ asset('js/radio-station/edit-add.js') }}"></script>
{% endblock %}

{% block context_menu %}
    <li>
        <a href="{{ path('radio_table.show', {id: radio_station.radioTable.id}) }}">
            {{ 'radio_table.show.title'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('radio_station.add', {radioTableId: radio_station.radioTable.id}) }}">
            {{ 'radio_station.add.title'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('radio_station.copy', {id: radio_station.id, radioTableId: radio_station.radioTable.id}) }}">
            {{ 'radio_station.edit.action.copy_current'|trans }}
        </a>
    </li>
{% endblock %}

{% block page_content %}
    <header>
        <h1 class="separated-title">
            <span>
                {{ 'radio_station.edit.title_pattern'|trans({
                    '%name%': radio_station.name,
                }) }}
            </span>
            <span class="additional">
                <span class="sr-only"> {{ 'common.text.in_radio_table_a11y_subheading_prefix'|trans }} </span>
                {{ radio_station.radioTable.name }}
            </span>
        </h1>
    </header>

    {{ form_start(form) }}

    {% include 'radio_station/_radio_station_form.html.twig' with {radio_table: radio_station.radioTable} %}

    <div class="form-action-button">
        <button>{{ 'radio_station.edit.action.save'|trans }}</button>

        <a class="button remove-button" href="{{ path('radio_station.edit', {id: radio_station.id, radioTableId: radio_station.radioTable.id, remove: true}) }}">
            {{ 'radio_station.remove.title'|trans }}
        </a>
    </div>

    {{ form_end(form) }}

    {% include 'common/remove_dialog.html.twig' with {
        remove_question: 'radio_station.remove.text.confirmation'|trans({ '%name%': radio_station.name }),
        remove_post_url: path('radio_station.remove', {id: radio_station.id, radioTableId: radio_station.radioTable.id}),
        cancel_fallback_url: path('radio_station.edit', {id: radio_station.id, radioTableId: radio_station.radioTable.id}),
        confirm_checkbox: false,
    } %}
{% endblock %}
