{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'radio_station.edit.title'|trans }}{% endblock %}

{% block head_closing %}
    {{ encore_entry_link_tags('radio-station-edit-add') }}
    {{ encore_entry_script_tags('radio-station-edit-add') }}
{% endblock %}

{% block context_menu %}
    <li>
        <a href="{{ path('radio_table.show', {id: radio_station.radioTable.id}) }}">
            {{ 'radio_table.show.title'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('radio_station.add', {radioTableId: radio_station.radioTable.id}) }}">
            {{ 'radio_station.add.title'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('radio_station.copy', {id: radio_station.id, radioTableId: radio_station.radioTable.id}) }}">
            {{ 'radio_station.edit.action.copy_current'|trans }}
        </a>
    </li>
{% endblock %}

{% block page_content %}
    <header>
        <h1 class="separated-title">
            <span>
                {{ 'radio_station.edit.title_pattern'|trans({
                    '%name%': radio_station.name,
                }) }}
            </span>
            <span class="additional">
                <span class="sr-only">{{ 'radio_station.edit.text.for_radio_table_a11y_subheading'|trans }}</span>
                {{ radio_station.radioTable.name }}
            </span>
        </h1>
    </header>

    {{ form_start(form) }}

    {% include 'radio_station/_radio_station_tabs.html.twig' %}

    <div class="form-action-button">
        <button>{{ 'radio_station.edit.action.save'|trans }}</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
