<div class="tabbed-ui">
    <div>
        <h2>Główne</h2>

        {{ form_row(form.frequency, {'unit_label': radiostation.radioTable.useKhz ? 'kHz' : 'MHz'}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.radioGroup) }}
        {{ form_row(form.country) }}
        {{ form_row(form.quality) }}
    </div>
    <div>
        <h2>Nadawanie i audycje</h2>

        {{ form_row(form.location) }}
        {{ form_row(form.power) }}
        {{ form_row(form.polarization) }}
        {{ form_row(form.type) }}
        {{ form_row(form.localityType, {'attr': {'class': 'locality-type-input'}}) }}
        <div class="locality-city-wrapper">
            {{ form_row(form.localityCity) }}
        </div>

        <script>
        (function(){
            const LOCALITY_COUNTRY = '{{ constant('App\\Entity\\RadioStation::LOCALITY_COUNTRY') }}';
            var localityTypeInput = document.querySelector('.locality-type-input');
            var localityCityWrapper = document.querySelector('.locality-city-wrapper');

            var updateFieldVisibility = function()
            {
                localityCityWrapper.hidden = (localityTypeInput.value == LOCALITY_COUNTRY);
            };
            updateFieldVisibility();
            localityTypeInput.addEventListener('change', updateFieldVisibility);
            localityTypeInput.addEventListener('blur', updateFieldVisibility);
        })();
        </script>
    </div>
    <div>
        <h2>Osobiste</h2>

        {{ form_row(form.privateNumber) }}
        {{ form_row(form.distance) }}
        {{ form_row(form.firstLogDate) }}
        {{ form_row(form.marker) }}
        {{ form_row(form.comment) }}
    </div>
    <div>
        <h2>RDS</h2>

        <noscript>
            <p class="information">
                Aby zobaczyć wyskakujące okno z&nbsp;informacjami o&nbsp;RDS, włącz JavaScript w&nbsp;przeglądarce.
            </p>
        </noscript>

        <div class="radiostation-rds">
            {{ form_row(form.rdsPs) }}
            {{ form_row(form.rdsRt) }}
            {{ form_row(form.rdsPty) }}
            {{ form_row(form.rdsPi) }}
        </div>
    </div>
</div>
