{% extends 'layout.html.twig' %}

{% block page_title %}Dodaj nową stację{% endblock %}

{% block context_menu %}
    <ul>
        <li>
            <a href="{{ path('radio_table.show', {id: radiostation.radioTable.id}) }}">
                Zobacz wykaz
            </a>
        </li>
        <li>
            <a href="{{ path('radio_table.settings', {id: radiostation.radioTable.id}) }}">
                Ustawienia wykazu
            </a>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h1 class="separated-title">
            <span>Dodaj nową stację</span>
            <span class="additional"><span class="sr-only">wykaz</span> {{ radiostation.radioTable.name }}</span>
        </h1>
    </header>

    {{ form_start(form) }}

    {% include 'radiostation/_radiostation_tabs.html.twig' %}

    <button>Dodaj stację</button>

    {{ form_end(form) }}
{% endblock %}
