{% extends 'layout.html.twig' %}

{% block page_title %}Dodawanie stacji{% endblock %}

{% block head_closing %}
    <script src="{{ asset('scripts/formsUI.js') }}" defer></script>
{% endblock %}

{% block context_menu %}
    <ul>
        <li><a href="{{ path('radiotable.show', {id: radiostation.radioTable.id}) }}">Zobacz wykaz</a></li>
        <li><a href="{{ path('radiotable.settings', {id: radiostation.radioTable.id}) }}">Ustawienia wykazu</a></li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h2>Dodawanie stacji</h2>
    </header>

    {{ form_start(form) }}

    {% include 'radiostation/_common_form_tabs.html.twig' %}

    <button>Zapisz stację</button>

    {{ form_end(form) }}
{% endblock %}
