{% extends 'layout.html.twig' %}

{% block page_title %}Edytuj stację{% endblock %}

{% block context_menu %}
    <ul>
        <li>
            <a href="{{ path('radiotable.show', {id: radiostation.radioTable.id}) }}">
                Zobacz wykaz
            </a>
        </li>
        <li>
            <a href="{{ path('radiostation.copy', {id: radiostation.id, radioTableId: radiostation.radioTable.id}) }}">
                Kopiuj tę stację
            </a>
        </li>
        <li>
            <a href="{{ path('radiostation.remove', {id: radiostation.id, radioTableId: radiostation.radioTable.id}) }}">
                Usuń tę stację
            </a>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h1 class="separated-title">
            <span>Edytuj stację „{{ radiostation.name }}”</span>
            <span class="additional"><span class="sr-only">wykaz</span> {{ radiostation.radioTable.name }}</span>
        </h1>
    </header>

    {{ form_start(form) }}

    {% include 'radiostation/_radiostation_tabs.html.twig' %}

    <button>Zapisz stację</button>

    {{ form_end(form) }}
{% endblock %}
