{% extends 'layout.html.twig' %}

{% block page_title %}Edycja stacji{% endblock %}

{% block context_menu %}
    <ul>
        <li>
            <a href="{{ path('radiotable.show', {id: radiostation.radioTable.id}) }}">
                Zobacz wykaz
            </a>
        </li>
        <li>
            <a href="{{ path('radiostation.copy', {id: radiostation.id, radioTableId: radiostation.radioTable.id}) }}">
                Kopiuj tę stację
            </a>
        </li>
        <li>
            <a href="{{ path('radiostation.remove', {id: radiostation.id, radioTableId: radiostation.radioTable.id}) }}">
                Usuń tę stację
            </a>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h2>Edycja stacji</h2>
    </header>

    {{ form_start(form) }}

    {% include 'radiostation/_common_form_tabs.html.twig' %}

    <button>Zapisz stację</button>

    {{ form_end(form) }}
{% endblock %}
