{% set columns_labels = {
    privateNumber: 'Nr',
    frequency:     radioTable.useKhz ? 'kHz' : 'MHz',
    name:          'Nazwa',
    radioGroup:    'Grupa',
    country:       'Kraj',
    location:      'Lokalizacja',
    power:         'Moc',
    polarization:  'Pol.',
    type:          'Rodzaj',
    locality:      'Lokalność',
    quality:       'Jakość',
    rds:           'RDS',
    comment:       'Komentarz',
} %}
{% set columns_sorting = {
    privateNumber: 'N',
    frequency:     'N',
    quality:       'N',
    power:         'N',
    name:          'T',
    radioGroup:    'T',
    country:       'T',
    location:      'T',
    polarization:  'T',
    type:          'T',
    locality:      'T',
} %}

{% set polarization_labels = {
    (constant('App\\Entity\\RadioStation::POLARIZATION_HORIZONTAL')): 'pozioma',
    (constant('App\\Entity\\RadioStation::POLARIZATION_VERTICAL')): 'pionowa',
    (constant('App\\Entity\\RadioStation::POLARIZATION_CIRCULAR')): 'kołowa',
    (constant('App\\Entity\\RadioStation::POLARIZATION_VARIOUS')): 'różne',
} %}
{% set types_labels = {
    (constant('App\\Entity\\RadioStation::TYPE_MUSIC')): 'muzyczny',
    (constant('App\\Entity\\RadioStation::TYPE_UNIVERSAL')): 'uniwersalny',
    (constant('App\\Entity\\RadioStation::TYPE_INFORMATION')): 'informacyjny',
    (constant('App\\Entity\\RadioStation::TYPE_RELIGIOUS')): 'katolicki',
    (constant('App\\Entity\\RadioStation::TYPE_OTHER')): 'inny',
} %}
{% set quality_labels = {
    (constant('App\\Entity\\RadioStation::QUALITY_VERY_GOOD')): 'bardzo dobra',
    (constant('App\\Entity\\RadioStation::QUALITY_GOOD')): 'dobra',
    (constant('App\\Entity\\RadioStation::QUALITY_MIDDLE')): 'dostateczna',
    (constant('App\\Entity\\RadioStation::QUALITY_BAD')): 'zła',
    (constant('App\\Entity\\RadioStation::QUALITY_VERY_BAD')): 'bardzo zła',
} %}

<table>
    <thead>
        <tr>
            {% for column in radioTableColumns %}
                <th {% if columns_sorting.column is defined %}data-sort="{{ columns_sorting.column }}"{% endif %}>
                    {{ columns_labels[column] }}
                </th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for radioStation in radioStations %}
            <tr>
                {% for column in radioTableColumns %}
                    <td>
                        {% if column == 'radioGroup' or column == 'country' or column == 'location' or column == 'comment' %}
                            {{ attribute(radioStation, column) }}

                        {% elseif column == 'name' %}
                            {% if showRadioStationEditLink %}
                                <a href="{{ path('radiostation.edit', {id: radioStation.id}) }}">{{ radioStation.name }}</a>
                            {% else %}
                                {{ radioStation.name }}
                            {% endif %}

                        {% elseif column == 'privateNumber' and radioStation.privateNumber %}
                            <span class="ni ni2">{{ radioStation.privateNumber }}</span>

                        {% elseif column == 'frequency' %}
                            <span class="ni">{{ radioStation.frequency }}</span>

                        {% elseif column == 'power' and radioStation.power %}
                            <span class="ni ni3">{{ radioStation.power }}</span>

                        {% elseif column == 'polarization' and radioStation.polarization %}
                            <abbr title="{{ polarization_labels[radioStation.polarization] }}">{{ radioStation.polarization }}</abbr>

                        {% elseif column == 'type' %}
                            {{ types_labels[radioStation.type] }}

                        {% elseif column == 'locality' %}
                            {% if radioStation.locality.type == constant('LOCALITY_COUNTRY', radioStation) %}
                                ogólnokrajowy
                            {% elseif radioStation.locality.city %}
                                {{ radioStation.locality.city }}
                                {% if radioStation.locality.type == constant('LOCALITY_NETWORK', radioStation) %}
                                    <small title="sieć">(s)</small>
                                {% endif %}
                            {% endif %}

                        {% elseif column == 'quality' %}
                            <span class="quality q{{ radioStation.quality }}" title="{{ quality_labels[radioStation.quality] }}">
                                {{ radioStation.quality }}
                            </span>

                        {% elseif column == 'rds' %}
                            {# #}

                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
