{% set columns_labels = {
    privateNumber: 'Nr',
    frequency:     radiotable.useKhz ? 'kHz' : 'MHz',
    name:          'Nazwa',
    radioGroup:    'Grupa',
    country:       'Kraj',
    location:      'Lokalizacja',
    power:         'Moc',
    polarization:  'Pol.',
    type:          'Rodzaj',
    locality:      'Lokalność',
    quality:       'Jakość',
    rds:           'RDS',
    comment:       'Komentarz',
} %}
{% set columns_sorting = {
    privateNumber: 'N',
    frequency:     'N',
    quality:       'N',
    power:         'N',
    name:          'T',
    radioGroup:    'T',
    country:       'T',
    location:      'T',
    polarization:  'T',
    type:          'T',
    locality:      'T',
} %}

{% set polarization_labels = {
    (constant('App\\Entity\\RadioStation::POLARIZATION_HORIZONTAL')): 'pozioma',
    (constant('App\\Entity\\RadioStation::POLARIZATION_VERTICAL')):   'pionowa',
    (constant('App\\Entity\\RadioStation::POLARIZATION_CIRCULAR')):   'kołowa',
    (constant('App\\Entity\\RadioStation::POLARIZATION_VARIOUS')):    'różne',
} %}
{% set types_labels = {
    (constant('App\\Entity\\RadioStation::TYPE_MUSIC')):       'muzyczny',
    (constant('App\\Entity\\RadioStation::TYPE_UNIVERSAL')):   'uniwersalny',
    (constant('App\\Entity\\RadioStation::TYPE_INFORMATION')): 'informacyjny',
    (constant('App\\Entity\\RadioStation::TYPE_RELIGIOUS')):   'katolicki',
    (constant('App\\Entity\\RadioStation::TYPE_OTHER')):       'inny',
} %}
{% set quality_labels = {
    (constant('App\\Entity\\RadioStation::QUALITY_VERY_GOOD')): 'bardzo dobra',
    (constant('App\\Entity\\RadioStation::QUALITY_GOOD')):      'dobra',
    (constant('App\\Entity\\RadioStation::QUALITY_MIDDLE')):    'dostateczna',
    (constant('App\\Entity\\RadioStation::QUALITY_BAD')):       'zła',
    (constant('App\\Entity\\RadioStation::QUALITY_VERY_BAD')):  'bardzo zła',
} %}

<table>
    <thead>
        <tr>
            {% for column in visible_columns %}
                <th {% if columns_sorting[column] is defined %}data-sort="{{ columns_sorting[column] }}"{% endif %}>
                    {{ columns_labels[column] }}
                </th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for radiostation in radiostations %}
            <tr {% if radiostation.marker %}class="marker{{ radiostation.marker }}"{% endif %}>
                {% for column in visible_columns %}
                    <td>
                        {% if column == 'radioGroup' or column == 'country' or column == 'location' or column == 'comment' %}
                            {{ attribute(radiostation, column) }}

                        {% elseif column == 'name' %}
                            {% if show_edit_links %}
                                <a href="{{ path('radiostation.edit', {id: radiostation.id}) }}">{{ radiostation.name }}</a>
                            {% else %}
                                {{ radiostation.name }}
                            {% endif %}

                        {% elseif column == 'privateNumber' and radiostation.privateNumber is not null %}
                            <span class="ni ni2">{{ radiostation.privateNumber }}</span>

                        {% elseif column == 'frequency' %}
                            <span class="ni">{{ radiostation.frequency|number_format }}</span>

                        {% elseif column == 'power' and radiostation.power is not null %}
                            <span class="ni ni3">{{ radiostation.power|number_format }}</span>

                        {% elseif column == 'polarization' and radiostation.polarization %}
                            <abbr title="{{ polarization_labels[radiostation.polarization] }}">{{ radiostation.polarization }}</abbr>

                        {% elseif column == 'type' %}
                            {{ types_labels[radiostation.type] }}

                        {% elseif column == 'locality' %}
                            {% if radiostation.locality.type == constant('LOCALITY_COUNTRY', radiostation) %}
                                ogólnokrajowy
                            {% elseif radiostation.locality.city %}
                                {{ radiostation.locality.city }}
                                {% if radiostation.locality.type == constant('LOCALITY_NETWORK', radiostation) %}
                                    <small title="sieć">(s)</small>
                                {% endif %}
                            {% endif %}

                        {% elseif column == 'quality' %}
                            {# Skip whitespace for proper CSS styling. #}
                            <span class="quality q{{ radiostation.quality }}" title="{{ quality_labels[radiostation.quality] }}">
                                {{- radiostation.quality -}}
                            </span>

                        {% elseif column == 'rds' %}
                            {% set rds = {} %}
                            {% for key, value in radiostation.rds %}
                                {% set rds = rds|merge({ ("#{key}"): value|replace({"\n": '', "\r": '', "\t": ''}) }) %}
                            {% endfor %}
                            {% set ps_frames = rds.ps|split('|')|format_rds_frames %}
                            {% if ps_frames|first|trim %}
                                <span data-pty="{{ rds.pty }}" data-rt="{{ rds.rt }}" data-ps="{{ ps_frames|join('|') }}"
                                      class="rds rdsPopup">{{ ps_frames|first }}</span>
                            {% endif %}

                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
