{% block integer_unit_widget %}
    {% set unit_label_id = id ~ '_unit' %}
    {% set attr = attr|merge({'aria-describedby': (attr['aria-describedby'] ?? '') ~ ' ' ~ unit_label_id}) %}

    <div class="form-widget-number-unit">
        {{ block('integer_widget') }}

        <span class="unit-label" id="{{ unit_label_id }}">
            {{ unit_label }}
        </span>
    </div>
{% endblock %}

{% block decimal_unit_widget %}
    {% set attr = attr|merge({
        'class': attr.class|default('') ~ ' decimal',
        'step': step,
        'min': step,
    }) %}

    {{ block('integer_unit_widget') }}
{% endblock %}

{% block completion_text_widget %}
    {% set completions_list_id = id ~ '_completions' %}
    {% set attr = attr|merge({'list': completions_list_id}) %}

    <datalist id="{{ completions_list_id }}">
        {% for completion in completions %}
            <option>{{ completion }}</option>
        {% endfor %}
    </datalist>

    {{ block('form_widget') }}
{% endblock %}
