{% block integer_unit_widget %}
    {% set unit_label_id = id ~ '_unit' %}
    {% set attr = attr|merge({'aria-describedby': (attr['aria-describedby'] ?? '') ~ ' ' ~ unit_label_id}) %}

    {{ block('integer_widget') }}

    <span class="unit-label" id="{{ unit_label_id }}">
        {{ unit_label }}
    </span>
{% endblock %}

{% block decimal_unit_widget %}
    {% set attr = attr|merge({
        'class': attr.class|default('') ~ ' decimal',
        'step': step,
        'min': step,
    }) %}

    {{ block('integer_unit_widget') }}
{% endblock %}

{% block radio_table_columns_row %}
    {# Do not render label for radio table columns widget. #}
    {{ block('form_rows') }}
{% endblock %}

{% block text_hints_widget %}
    {% set hints_list_id = id ~ '_hints' %}
    {% set attr = attr|merge({'list': hints_list_id}) %}

    <datalist id="{{ hints_list_id }}">
        {% for hint in hints %}
            <option>{{ hint }}</option>
        {% endfor %}
    </datalist>

    {{ block('form_widget') }}
{% endblock %}
