{% block integer_unit_widget %}
    {{ block('integer_widget') }}
    <span class="unit-label">{{ unit_label }}</span>
{% endblock integer_unit_widget %}

{% block decimal_unit_widget %}
    {% set attr = attr|merge({'class': 'decimal', 'step': step, 'min': step}) %}
    {{ block('integer_unit_widget') }}

    {# Enforce leading zeros in typed values ("87.6" -> "87.60"). #}
    {# Do not use "input" event, it looks better but makes manual typing hard. #}
    {# Works only in Webkit/Blink. "input.valueAsNumber" condition needed for MSEdge/IE. #}
    {# See: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/6367416/ #}
    <script>
    (function(){
        var input = document.getElementById('{{ id }}');
        var decimals = (input.step.match(/\..*/) || [''])[0].length - 1;
        if (decimals && input.valueAsNumber) {
            input.addEventListener('change', function(){
                input.value = input.valueAsNumber.toFixed(decimals);
            });
        }
    })();
    </script>
{% endblock decimal_unit_widget %}

{% block radio_table_columns_row %}
    {# Do not render label for radiotable columns widget. #}
    {{ block('form_rows') }}
{% endblock radio_table_columns_row %}

{% block text_hints_widget %}
    {% set hints_list_id = id ~ '_hints' %}
    <datalist id="{{ hints_list_id }}">
        {% for hint in hints %}
            <option>{{ hint }}</option>
        {% endfor %}
    </datalist>

    {% set attr = attr|merge({'list': hints_list_id}) %}
    {{ block('form_widget') }}
{% endblock text_hints_widget %}
