{% block form_row %}
    <div class="form-item form-regular">
        <div>{{ form_label(form) }}</div>
        <div>{{ form_widget(form) }}</div>
    </div>
{% endblock form_row %}

{% block checkbox_row %}
    <div class="form-item form-checkbox">
        {{ form_widget(form) }}
        {{ form_label(form) }}
    </div>
{% endblock checkbox_row %}

{% block radio_row %}
    {{ block('checkbox_row') }}
{% endblock radio_row %}

{% block choice_row %}
    {% if expanded %}
        <fieldset>
            <legend class="sr-only">{{ form_label(form)|striptags }}</legend>
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
        </fieldset>
    {% else %}
        {{ form_row(form) }}
    {% endif %}
{% endblock choice_row %}
