{% block form_row %}
    {%- set aria_describedby = (attr['aria-describedby'] ?? '') ~ (errors|length > 0 ? ' ' ~ id ~ '_error') ~ (help ? ' ' ~ id ~ '_help') -%}

    {% set row_attr = row_attr|merge({
        class: ('form-item ' ~ row_attr.class ?? '')|trim,
    }) %}

    <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        <div>
            {{ form_label(form) }}
        </div>
        {{ form_widget(form, {attr: {'aria-describedby': aria_describedby|trim}}) }}
        {{ form_errors(form) }}
        {{ form_help(form) }}
    </div>
{% endblock %}

{% block checkbox_row %}
    {%- set aria_describedby = (attr['aria-describedby'] ?? '') ~ (errors|length > 0 ? ' ' ~ id ~ '_error') ~ (help ? ' ' ~ id ~ '_help') -%}

    {% set row_attr = row_attr|merge({
        class: ('form-item form-item-checkbox ' ~ row_attr.class ?? '')|trim,
    }) %}

    <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        <div>
            {{ form_widget(form, {attr: {'aria-describedby': aria_describedby|trim}}) }}
            {{ form_label(form) }}
        </div>

        {{ form_errors(form) }}
        {{ form_help(form) }}
    </div>
{% endblock %}

{% block form_errors %}
    {%- if errors|length > 0 -%}
        <p class="form-error-message" id="{{ id }}_error">
            {{ (errors|first).message }}
        </p>
    {%- endif -%}
{% endblock %}

{% block form_help %}
    {%- if help -%}
        <p class="form-help-message" id="{{ id }}_help">
            {{ help_html ? field_help(form)|raw : field_help(form) }}
        </p>
    {%- endif -%}
{% endblock %}

{% block choice_row %}
    {% if expanded %}
        {%- set aria_describedby = (attr['aria-describedby'] ?? '') ~ (errors|length > 0 ? ' ' ~ id ~ '_error') ~ (help ? ' ' ~ id ~ '_help') -%}

        <fieldset class="form-group">
            <legend class="sr-only">{{ form_label(form)|striptags }}</legend>

            {% for child in form %}
                {{ form_row(child, {attr: {'aria-describedby': aria_describedby|trim}}) }}
            {% endfor %}

            {{ form_errors(form) }}
            {{ form_help(form) }}
        </fieldset>
    {% else %}
        {{ form_row(form) }}
    {% endif %}
{% endblock %}
