{% extends 'admin/_admin_layout.html.twig' %}

{% block page_content %}
    <header>
        <h1>Panel administracyjny — lista wykazów</h1>
    </header>

    <table class="sortable">
        <thead>
            <tr>
                <th data-sort="N">ID</th>
                <th data-sort="T">Autor</th>
                <th data-sort="T">Widoczność</th>
                <th data-sort="T">Nazwa</th>
                <th data-sort="N">L. stacji</th>
                <th data-sort="T">Data modyf.</th>
                <th data-sort="T">Data utworz.</th>
            </tr>
        </thead>
        <tbody>
            {% for radio_table in radio_tables %}
                <tr>
                    <td>{{ radio_table.id }}</td>
                    <td>{{ radio_table.owner.name }}</td>
                    <td>
                        {% if radio_table.status == constant('PUBLIC', radio_table.status) %}
                            publiczny
                        {% elseif radio_table.status == constant('PRIVATE', radio_table.status) %}
                            prywatny
                        {% elseif radio_table.status == constant('UNLISTED', radio_table.status) %}
                            niepubliczny
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                            {{ radio_table.name }}
                        </a>
                    </td>
                    <td>{{ radio_table.radioStationsCount }}</td>
                    <td class="nowrap" title="{{ radio_table.lastUpdateTime|date('Y-m-d H:i') }}">
                        {{ radio_table.lastUpdateTime|date('Y-m-d') }}
                    </td>
                    <td class="nowrap" title="{{ radio_table.creationTime ? radio_table.creationTime|date('Y-m-d H:i') : '' }}">
                        {{ radio_table.creationTime ? radio_table.creationTime|date('Y-m-d') : '?' }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Liczba wszystkich wykazów: {{ radio_tables|length }}</p>
{% endblock %}
