{%- trans_default_domain 'admin' -%}

{% extends 'admin/_admin_layout.html.twig' %}

{% block page_content %}
    <header>
        <h1>{{ 'layout.title'|trans }} — {{ 'radio_tables.title'|trans }}</h1>
    </header>

    <table class="sortable">
        <thead>
            <tr>
                <th data-sort="N">{{ 'radio_tables.heading.id'|trans }}</th>
                <th data-sort="T">{{ 'radio_tables.heading.owner_name'|trans }}</th>
                <th data-sort="T">{{ 'radio_tables.heading.status'|trans }}</th>
                <th data-sort="T">{{ 'radio_tables.heading.name'|trans }}</th>
                <th data-sort="N">{{ 'radio_tables.heading.radio_stations_count'|trans }}</th>
                <th data-sort="T">{{ 'radio_tables.heading.last_update_time'|trans }}</th>
                <th data-sort="T">{{ 'radio_tables.heading.creation_time'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for radio_table in radio_tables %}
                <tr>
                    <td>{{ radio_table.id }}</td>
                    <td>{{ radio_table.owner.name }}</td>
                    <td>{{ ('radio_tables.status.' ~ radio_table.status.value)|trans }}</td>
                    <td>
                        <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                            {{ radio_table.name }}
                        </a>
                    </td>
                    <td>{{ radio_table.radioStationsCount }}</td>
                    <td class="nowrap" title="{{ radio_table.lastUpdateTime|date('Y-m-d H:i') }}">
                        {{ radio_table.lastUpdateTime|date('Y-m-d') }}
                    </td>
                    <td class="nowrap" title="{{ radio_table.creationTime ? radio_table.creationTime|date('Y-m-d H:i') : '' }}">
                        {{ radio_table.creationTime ? radio_table.creationTime|date('Y-m-d') : '?' }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>{{ 'radio_tables.text.all_items'|trans({'%count%': radio_tables|length}) }}</p>
{% endblock %}
