{%- trans_default_domain 'admin' -%}

{% extends 'admin/_admin_layout.html.twig' %}

{% block page_content %}
    <header>
        <h1>{{ 'layout.title'|trans }} — {{ 'users.title'|trans }}</h1>
    </header>

    <table class="sortable">
        <thead>
            <tr>
                <th data-sort="N">{{ 'users.heading.id'|trans }}</th>
                <th data-sort="T">{{ 'users.heading.name'|trans }}</th>
                <th data-sort="N">{{ 'users.heading.radio_tables_count'|trans }}</th>
                <th data-sort="T">{{ 'users.heading.public_profile'|trans }}</th>
                <th data-sort="T">{{ 'users.heading.last_activity_date'|trans }}</th>
                <th data-sort="T">{{ 'users.heading.register_date'|trans }}</th>
                <th data-sort="T">{{ 'users.heading.password_hashing'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        <a href="{{ path('user.public_profile', {name: user.name}) }}">
                            {{ user.name }}
                        </a>
                    </td>
                    <td>{{ user.radioTablesCount }}</td>
                    <td>{{ ('users.public_profile.' ~ user.publicProfile)|trans }}</td>
                    <td>{{ user.lastActivityDate|date('Y-m-d') }}</td>
                    <td>{{ user.registerDate|date('Y-m-d') }}</td>
                    <td>
                        {% if user.password[0:1] == '$' %}
                            —
                        {% else %}
                            {{ 'users.password_hashing.legacy'|trans }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>{{ 'users.text.all_items'|trans({'%count%': users|length}) }}</p>
{% endblock %}
