{% extends 'admin/_admin_layout.html.twig' %}

{% block page_content %}
    <header>
        <h1>Panel administracyjny — lista użytkowników</h1>
    </header>

    <table class="sortable">
        <thead>
            <tr>
                <th data-sort="N">ID</th>
                <th data-sort="T">Nazwa</th>
                <th data-sort="N">L. wykazów</th>
                <th data-sort="T">Profil pub.</th>
                <th data-sort="T">Data aktywności</th>
                <th data-sort="T">Data rejestracji</th>
                <th data-sort="T">Kompat. hasła</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        <a href="{{ path('user.public_profile', {name: user.name}) }}">
                            {{ user.name }}
                        </a>
                    </td>
                    <td>{{ user.radioTablesCount }}</td>
                    <td>{{ user.publicProfile ? 'włączony' : 'wyłączony' }}</td>
                    <td>{{ user.lastActivityDate|date('Y-m-d') }}</td>
                    <td>{{ user.registerDate|date('Y-m-d') }}</td>
                    <td>
                        {% if user.password[0:3] == '$2y' %}
                            bcrypt
                        {% elseif user.password[0:1] == '$' %}
                            —
                        {% else %}
                            RL v1
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Liczba wszystkich użytkowników: {{ users|length }}</p>
{% endblock %}
