{%- extends 'radio_table/table/radio_table.twig' -%}
{%- trans_default_domain 'radio_table' -%}

{%- block table_start -%}
    <table class="{%- block table_class 'radio-table' -%}">
        <thead>
            <tr>
{%- endblock -%}
{%- block table_between -%}
            </tr>
        </thead>
        <tbody>
{%- endblock -%}
{%- block table_end -%}
        </tbody>
    </table>
{%- endblock -%}

{%- block heading_cell -%}
    <th>{{ parent() }}</th>
{%- endblock -%}

{%- block row_start -%}
    <tr {% if radio_station.marker %}class="marker-{{ radio_station.marker }}"{% endif %}>
{%- endblock -%}
{%- block cell_start -%}
    <td>
{%- endblock -%}
{%- block cell_end -%}
    </td>
{%- endblock -%}
{%- block row_end -%}
    </tr>
{%- endblock -%}

{%- block radio_station_private_number -%}
    <span data-number-indent="private-number">{{ parent() }}</span>
{%- endblock -%}
{%- block radio_station_frequency -%}
    <span data-number-indent="frequency">{{ parent() }}</span>
{%- endblock -%}
{%- block radio_station_power -%}
    <span data-number-indent="power">{{ parent() }}</span>
{%- endblock -%}
{%- block radio_station_distance -%}
    <span data-number-indent="distance">{{ parent() }}</span>
{%- endblock -%}
{%- block radio_station_polarization -%}
    <abbr title="{{ ('polarization.' ~ radio_station.polarization)|trans }}">{{ parent() }}</abbr>
{%- endblock -%}
{%- block radio_station_locality_network %}
    <small title="{{ 'locality.network'|trans }}">{{ parent()|trim }}</small>
{%- endblock -%}
{%- block radio_station_first_log_date %}
    <time>{{ parent() }}</time>
{%- endblock -%}
{%- block radio_station_rds -%}
    <span class="rds">{{ parent() }}</span>
{%- endblock -%}
{%- block radio_station_comment -%}
    {{ parent()|nl2br(false) }}
{%- endblock -%}

{%- block radio_station_quality -%}
    <span class="quality quality-{{ radio_station.quality }}" title="{{ ('quality.' ~ radio_station.quality)|trans }}">
        {#- Skip whitespace for proper styling. -#}
        {{- parent() -}}
    </span>
{%- endblock -%}

{%- block radio_station_external_anchor -%}
    <a class="external" href="{{- parent() -}}" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 30 30"><path d="M25 25H5V5.075L10 5V0H0v30h30V17.5h-5zM15 0l5 5-7.5 7.5 5 5L25 10l5 5V0z"/></svg>
        <span class="sr-only">
            {{ 'external_anchor.text'|trans({'%name%': radio_station.name}) }}
        </span>
    </a>
{%- endblock -%}
