{% extends 'layout.html.twig' %}

{% block head_closing %}
    {{ encore_entry_link_tags('all-radio-tables') }}
{% endblock %}

{% block page_title %}{{ 'general.all_radio_tables.title'|trans }}{% endblock %}

{% block page_content %}
    {% include "common/birthday_message.html.twig" %}

    <header>
        <h1>{{ 'general.all_radio_tables.title_long'|trans }}</h1>

        <ul class="all-radio-tables-navigation">
            {% for id in [1, 2, 3] %}
                <li>
                    <a {{ app.request.get('sorting') == id ? 'class="selected"' : '' }}
                        href="{{ path('all_radio_tables', {'sorting': id}) }}">
                        {{ ('general.all_radio_tables.sorting.' ~ id)|trans }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </header>

    {% set show_owner = true %}
    {% include 'common/radio_tables_list.html.twig' %}
{% endblock %}
