{% extends 'layout.html.twig' %}

{% block page_title %}Kontakt{% endblock %}

{% block page_content %}
    <header>
        <h1>Kontakt z autorem</h1>
    </header>

    {{ form_start(form, {attr: {class: 'contact-form'}}) }}

    <p>
        Jeśli masz jakiekolwiek pytania lub sugestie nt. RadioListy bądź chcesz zgłosić błąd, skorzystaj z&nbsp;poniższego formularza w&nbsp;celu kontaktu z&nbsp;autorem serwisu.
    </p>

    {{ form_row(form.subject) }}
    {{ form_row(form.email) }}
    {{ form_row(form.content) }}

    <button>Wyślij wiadomość</button>

    {{ form_end(form) }}
{% endblock %}
