{% extends 'layout.html.twig' %}

{% block page_content %}
    <header class="sr-only">
        <h1>RadioLista — {{ 'layout.slogan'|trans }}</h1>
    </header>

    <div class="homepage">
        <section>
            <h2>{{ 'general.homepage.heading.last_updated_radio_tables'|trans }}</h2>
            <ol class="homepage-radio-tables-list">
                {% for radio_table in last_updated_radio_tables %}
                    <li>
                        <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                            {{ radio_table.name }}
                        </a>
                        <span>
                            <span class="sr-only"> — {{ 'general.homepage.text.radio_table_updated_at'|trans }}: </span>
                            {{ radio_table.lastUpdateTime|format_date_html }}
                        </span>
                    </li>
                {% endfor %}
            </ol>
        </section>

        <section>
            <h2>{{ 'general.homepage.heading.last_created_radio_tables'|trans }}</h2>
            <ol class="homepage-radio-tables-list">
                {% for radio_table in last_created_radio_tables %}
                    <li>
                        <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                            {{ radio_table.name }}
                        </a>
                        {% if radio_table.creationTime %}
                            <span>
                                <span class="sr-only"> — {{ 'general.homepage.text.radio_table_created_at'|trans }}: </span>
                                {{ radio_table.creationTime|format_date_html }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </section>

        <section>
            <h2>{{ 'general.homepage.heading.about_this_service'|trans }}</h2>

            <p>
                {{ 'general.homepage.text.about'|trans }}
            </p>
        </section>

        <section>
            <h2>{{ 'general.homepage.heading.search_radio_tables'|trans }}</h2>

            {% include 'common/search_form.html.twig' %}
        </section>
    </div>
{% endblock %}
