{% extends 'layout.html.twig' %}

{% macro print_date(date) %}
    <time datetime="{{ date.format('Y-m-d') }}">
        {% if date > date('-8 days') %}
            {{ date|ago }}
        {% else %}
            {{ date|format_date('long')|replace({(date().format('Y')) : ''})|trim(', ') }}
        {% endif %}
    </time>
{% endmacro %}

{% set is_birthday = app.request.locale == 'pl' and 'now'|date('m-d') == '07-01' %}

{% block html_classes is_birthday ? 'homepage-birthday' : '' %}

{% block page_content %}
    <header class="sr-only">
        <h1>RadioLista — {{ 'layout.slogan'|trans }}</h1>
    </header>

    {% if is_birthday %}
        <div class="homepage-birthday-message">
            Sto lat, sto lat, niech żyje, żyje nam! RadioLista obchodzi dzisiaj ósme urodziny! Najlepszego odbioru!
        </div>
    {% endif %}

    <div class="homepage">
        <section>
            <h2>{{ 'general.homepage.heading.last_updated_radio_tables'|trans }}</h2>
            <ol class="homepage-radio-tables-list">
                {% for radio_table in last_updated_radio_tables %}
                    <li>
                        <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                            {{ radio_table.name }}
                        </a>
                        <span>
                            <span class="sr-only">
                                — {{ 'general.homepage.text.radio_table_updated_at'|trans }}:
                            </span>
                            {{ _self.print_date(radio_table.lastUpdateTime) }}
                        </span>
                    </li>
                {% endfor %}
            </ol>
        </section>

        <section>
            <h2>{{ 'general.homepage.heading.last_created_radio_tables'|trans }}</h2>
            <ol class="homepage-radio-tables-list">
                {% for radio_table in last_created_radio_tables %}
                    <li>
                        <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                            {{ radio_table.name }}
                        </a>
                        {# Legacy: creation time can be empty. #}
                        {% if radio_table.creationTime %}
                            <span>
                                <span class="sr-only">
                                    — {{ 'general.homepage.text.radio_table_created_at'|trans }}:
                                </span>
                                {{ _self.print_date(radio_table.creationTime) }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </section>

        <section>
            <h2>{{ 'general.homepage.heading.about_this_service'|trans }}</h2>

            <p>
                {{ 'general.homepage.text.about'|trans }}
            </p>
        </section>

        <section>
            <h2>{{ 'general.homepage.heading.search_radio_tables'|trans }}</h2>

            {% include 'common/search_form.html.twig' %}
        </section>
    </div>
{% endblock %}
