{% extends 'layout.html.twig' %}

{% block head_closing %}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% macro print_date(date) %}
    <time datetime="{{ date.format('Y-m-d') }}">
        {% if date > date('-8 days') %}
            {{ date|ago }}
        {% else %}
            {{ date|format_date('long')|replace({(date().format('Y')) : ''})|trim(', ') }}
        {% endif %}
    </time>
{% endmacro %}

{% block page_content %}
    <header class="sr-only">
        <h1>RadioLista — {{ 'layout.slogan'|trans }}</h1>
    </header>

    <svg class="homepage-logo" aria-hidden="true" viewBox="0 0 856.8 193.47" xmlns="http://www.w3.org/2000/svg">
        <path class="line-3" d="M206.67 0l-29.129 13.139a221.52 221.52 0 0116.553 83.619 221.52 221.52 0 01-16.525 83.629l28.996 13.08a253.4 253.4 0 0019.408-96.709A253.4 253.4 0 00206.67 0z" fill="#ef7f20" opacity=".553"/>
        <path class="line-2" d="M148.16 26.388l-28.973 13.068a157.43 157.43 0 0110.812 57.301 157.43 157.43 0 01-10.943 57.24l29.156 13.15a189.32 189.32 0 0013.668-70.391 189.32 189.32 0 00-13.721-70.369z" fill="#ef7f20" opacity=".749"/>
        <path class="line-1" d="M89.658 52.777l-29.1 13.125a93.348 93.348 0 015.357 30.855 93.348 93.348 0 01-5.36 30.852l29.185 13.164a125.23 125.23 0 008.057-44.016 125.23 125.23 0 00-8.139-43.98z" fill="#ef7f20"/>
        <path class="dot" d="M35.174 92.947a17.795 17.795 45 01-13.555 21.203A17.795 17.795 45 01.416 100.595a17.795 17.795 45 0113.555-21.203 17.795 17.795 45 0121.203 13.555z" fill="#559a33"/>
        <path d="M274.45 50.795q5.067-.933 11.601-1.467 6.667-.533 12.135-.533 6.134 0 11.601 1.333 5.6 1.334 9.734 4.4 4.267 3.068 6.801 8.002 2.534 4.933 2.534 12 0 10.935-6.001 17.736-6 6.8-15.202 9.067l6.4 4.934 23.203 36.937H324.32l-25.736-40.271-13.068-2v42.27h-11.068zm24.002 7.6h-3.6q-1.867 0-3.6.134t-3.334.267q-1.467.133-2.4.4V93.6h10.4q9.201 0 15.202-4.534 6-4.534 6-14.135 0-7.2-4.933-11.868-4.934-4.667-13.735-4.667zm52.168 23.072q5.067-3.067 11.735-4.534 6.8-1.467 14.135-1.467 6.934 0 11.068 1.867 4.267 1.867 6.4 4.934 2.268 2.934 2.934 6.534.8 3.6.8 7.2 0 8.002-.4 15.603t-.4 14.4q0 4.935.4 9.335t1.467 8.134h-7.867l-2.8-9.334h-.668q-1.2 1.867-3.067 3.734-1.733 1.733-4.267 3.2-2.533 1.333-5.867 2.267-3.334.933-7.6.933t-8.002-1.333q-3.6-1.334-6.267-3.734-2.667-2.533-4.267-6-1.467-3.467-1.467-7.868 0-5.867 2.4-9.734 2.4-4 6.668-6.268 4.4-2.4 10.4-3.333 6.135-1.067 13.469-1.067h3.6q1.867 0 3.734.267.4-4 .4-7.201 0-7.334-2.934-10.268-2.933-2.934-10.668-2.934-2.266 0-4.933.4-2.534.267-5.334.934-2.667.533-5.2 1.467-2.401.8-4.268 1.867zm18.935 53.472q3.734 0 6.667-.933 2.934-1.067 5.068-2.534 2.133-1.6 3.467-3.467 1.466-1.867 2.133-3.6v-11.068q-1.867-.134-3.867-.134-1.867-.133-3.734-.133-4.133 0-8.134.533-3.867.4-6.934 1.734-2.933 1.2-4.8 3.467-1.734 2.133-1.734 5.467 0 4.667 3.334 7.734 3.334 2.934 8.534 2.934zm99.775-14.672q0 6.8.133 12.401.134 5.467 1.2 10.801h-7.2l-2.667-9.468h-.534q-2.666 4.667-7.734 7.734-5.067 3.068-11.868 3.068-13.335 0-19.869-8.401-6.4-8.401-6.4-26.27 0-17.067 8-25.868 8.135-8.935 22.27-8.935 4.933 0 7.734.534 2.933.533 6.267 1.733V49.86h10.668zm-26.936 15.202q6.8 0 10.801-3.467 4-3.6 5.467-10.801v-33.07q-2.4-1.867-5.467-2.667t-8.134-.8q-9.201 0-14.401 6.134-5.2 6-5.2 19.335 0 5.467.8 10.134.933 4.667 2.933 8 2 3.335 5.2 5.335 3.334 1.867 8.001 1.867zm50.036-58.942h10.668v66.674H492.43zm-2.267-20.269q0-3.067 2-5.2 2.134-2.267 5.334-2.267t5.467 2.267q2.267 2.133 2.267 5.2t-2.267 5.067-5.467 2-5.334-2q-2-2-2-5.067zm32.307 53.609q0-16.935 7.467-25.869 7.601-9.068 21.736-9.068 7.468 0 12.935 2.534 5.601 2.4 9.201 7.067 3.6 4.534 5.334 11.068 1.734 6.401 1.734 14.268 0 16.935-7.601 26.003-7.468 8.935-21.602 8.935-7.468 0-13.068-2.4-5.467-2.534-9.068-7.068-3.6-4.667-5.334-11.068-1.733-6.534-1.733-14.401zm11.068 0q0 5.067.933 9.734 1.067 4.667 3.2 8.134 2.134 3.467 5.601 5.601t8.401 2.134q18.135.133 18.135-25.603 0-5.2-1.067-9.868-.933-4.667-3.067-8.134-2.133-3.467-5.6-5.467-3.467-2.134-8.401-2.134-18.135-.133-18.135 25.603z" fill="#5e9b40"/>
        <path d="M654.78 143.21h-59.073V49.867h18.269v77.075h40.804zm10.84-66.68h17.335v66.674H665.62zm-2.534-18.802q0-3.867 2.8-6.534 2.934-2.8 8.001-2.8 5.068 0 8.135 2.8 3.2 2.667 3.2 6.534t-3.2 6.534q-3.067 2.534-8.135 2.534-5.067 0-8-2.534-2.8-2.667-2.8-6.534zm64.834 67.082q0-2.667-2.267-4.267t-5.6-2.934q-3.334-1.333-7.335-2.667-4-1.466-7.334-3.867-3.333-2.533-5.6-6.267-2.267-3.867-2.267-9.868 0-9.867 5.867-15.068 5.867-5.2 16.935-5.2 7.6 0 13.735 1.6 6.134 1.6 9.601 3.6l-3.867 12.535q-3.067-1.2-7.734-2.533-4.667-1.334-9.468-1.334-7.734 0-7.734 6 0 2.401 2.267 3.868t5.6 2.8q3.334 1.2 7.335 2.667 4 1.467 7.334 3.867 3.334 2.267 5.6 6 2.267 3.735 2.267 9.602 0 10.134-6.534 16.002-6.4 5.734-19.335 5.734-7.067 0-13.335-1.867-6.134-1.734-10-4.134l4.8-12.935q3.067 1.734 8.134 3.467 5.067 1.6 10.401 1.6 3.867 0 6.134-1.467 2.4-1.466 2.4-4.933zm22.04-48.28h9.2V63.995l17.336-4.934v17.468h16.268v14.668h-16.268V116.8q0 6.934 1.333 10.001 1.467 2.934 5.334 2.934 2.667 0 4.534-.534 2-.533 4.4-1.6l3.068 13.335q-3.6 1.734-8.401 2.934-4.8 1.2-9.735 1.2-9.2 0-13.6-4.667-4.268-4.8-4.268-15.602V91.198h-9.2zm53.37 3.87q5.334-2.4 12.668-3.734 7.334-1.466 15.335-1.466 6.934 0 11.601 1.733 4.667 1.6 7.334 4.667 2.8 3.067 3.867 7.334 1.2 4.267 1.2 9.601 0 5.868-.4 11.868-.4 5.868-.533 11.601 0 5.734.4 11.201.4 5.334 2 10.134h-14.135l-2.8-9.2h-.667q-2.667 4.133-7.467 7.2-4.668 2.934-12.135 2.934-4.668 0-8.401-1.334-3.734-1.467-6.4-4-2.668-2.667-4.135-6.134-1.467-3.6-1.467-8.001 0-6.134 2.667-10.268 2.8-4.267 7.868-6.8 5.2-2.668 12.268-3.601 7.2-1.067 16.002-.667.933-7.467-1.067-10.668-2-3.334-8.934-3.334-5.2 0-11.068 1.067-5.734 1.067-9.468 2.8zm22.002 49.605q5.2 0 8.268-2.267 3.067-2.4 4.533-5.067v-8.668q-4.133-.4-8-.133-3.734.267-6.668 1.2t-4.667 2.667-1.734 4.4q0 3.734 2.134 5.868 2.267 2 6.134 2z" fill="#ef7f20"/>
    </svg>

    <div class="homepage">
        <section>
            <h2>{{ 'general.homepage.heading.last_updated_radio_tables'|trans }}</h2>
            <ol class="homepage-radio-tables-list">
                {% for radio_table in last_updated_radio_tables %}
                    <li>
                        <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                            {{ radio_table.name }}
                        </a>
                        <span>
                            <span class="sr-only">
                                — {{ 'general.homepage.text.radio_table_updated_at'|trans }}:
                            </span>
                            {{ _self.print_date(radio_table.lastUpdateTime) }}
                        </span>
                    </li>
                {% endfor %}
            </ol>
        </section>

        <section>
            <h2>{{ 'general.homepage.heading.last_created_radio_tables'|trans }}</h2>
            <ol class="homepage-radio-tables-list">
                {% for radio_table in last_created_radio_tables %}
                    <li>
                        <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                            {{ radio_table.name }}
                        </a>
                        {# Legacy: creation time can be empty. #}
                        {% if radio_table.creationTime %}
                            <span>
                                <span class="sr-only">
                                    — {{ 'general.homepage.text.radio_table_created_at'|trans }}:
                                </span>
                                {{ _self.print_date(radio_table.creationTime) }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </section>

        <section>
            <h2>{{ 'general.homepage.heading.about_this_service'|trans }}</h2>

            <p>
                {{ 'general.homepage.text.about'|trans }}
            </p>
        </section>

        <section>
            <h2>{{ 'general.homepage.heading.search_radio_tables'|trans }}</h2>

            {% include 'common/search_form.html.twig' %}
        </section>
    </div>
{% endblock %}
