{% extends 'layout.html.twig' %}

{% block page_content %}
    <header class="sr-only">
        <h1>RadioLista — bandscany i wykazy radiowe</h1>
    </header>

    <div class="homepage">
        <section>
            <h2>Ostatnio zmodyfikowane wykazy</h2>
            <ol class="homepage-radiotables-list">
                {% for radiotable in last_updated_radiotables %}
                    <li>
                        <a href="{{ path('radiotable.show', {id: radiotable.id}) }}">
                            {{ radiotable.name }}
                        </a>
                        <span>
                            <span class="sr-only"> — ostatnia aktualizacja: </span>
                            {{ radiotable.lastUpdateTime|date_format }}
                        </span>
                    </li>
                {% endfor %}
            </ol>
        </section>

        <section>
            <h2>Ostatnio utworzone wykazy</h2>
            <ol class="homepage-radiotables-list">
                {% for radiotable in last_created_radiotables %}
                    <li>
                        <a href="{{ path('radiotable.show', {id: radiotable.id}) }}">
                            {{ radiotable.name }}
                        </a>
                        <span>
                            <span class="sr-only"> — ostatnia aktualizacja: </span>
                            {{ radiotable.lastUpdateTime|date_format }}
                        </span>
                    </li>
                {% endfor %}
            </ol>
        </section>

        <section>
            <h2>Czym jest RadioLista?</h2>

            <p>
                W serwisie RadioLista osoby interesujące się mediami mogą&nbsp;publikować różnorodne wykazy radiowe i&nbsp;telewi&shy;zyjne &mdash; bandscany, regularne wykazy odbieranych stacji czy&nbsp;też prywatne listy ulubionych programów.
            </p>
        </section>

        <section>
            <h2>Wyszukaj wykazy</h2>

            {% include 'common/search_form.html.twig' %}
        </section>
    </div>
{% endblock %}
