{% extends 'layout.html.twig' %}

{% block page_title %}Wyszukiwanie{% endblock %}

{% block page_content %}
    <header>
        <h2><strong>„{{ search_term }}”</strong> — wyszukiwanie</h2>
    </header>

    {{ form_start(search_form, {attr: {class: 'searchForm'}}) }}
    <dl>
        {{ form_row(search_form.searchTerm) }}
    </dl>
    <button>Szukaj</button>
    {{ form_end(search_form) }}

    {% if radiotables_list is empty %}
        <p class="information">Brak wyników wyszukiwania dla szukanego wyrażenia. Spróbuj użyć prostszego wyrażenia, pozbawionego zbędnych spojników (takich jak „i”, „lub”) oraz odmiany przez przypadki. Możesz też użyć znaku gwiazdki&nbsp;*, aby wyszukiwać części wyrazów. Pamietaj, że przeszukiwane są tylko tytuły oraz opisy wykazów.</a></p>
    {% else %}
        {{ radiotables_list|raw }}
    {% endif %}
{% endblock %}
