{% set status_labels = {
    (constant('App\\Entity\\RadioTable::STATUS_PUBLIC')):   'publiczny',
    (constant('App\\Entity\\RadioTable::STATUS_PRIVATE')):  'prywatny',
    (constant('App\\Entity\\RadioTable::STATUS_UNLISTED')): 'niepubliczny',
} %}
{% set show_visibility = show_visibility|default(false) %}
{% set show_owner = show_owner|default(false) %}

<dl class="radiotables-list">
    {% for radiotable in radiotables %}
        <div class="radiotables-list-item">
            <dt class="radiotables-list-title">
                <a href="{{ path('radiotable.show', {id: radiotable.id}) }}">{{ radiotable.name }}</a>
            </dt>
            <dd class="radiotables-list-details">
                <dl>
                    {% if show_visibility %}
                        <dt>Widoczność</dt>
                        <dd>{{ status_labels[radiotable.status] }}</dd>
                    {% endif %}

                    {% if show_owner and radiotable.owner.publicProfile %}
                        <dt>Autor</dt>
                        <dd><a href="{{ path('user.public_profile', {name: radiotable.owner.name}) }}">{{ radiotable.owner.name }}</a></dd>
                    {% endif %}

                    <dt>Liczba stacji</dt>
                    <dd>{{ radiotable.radioStationsCount }}</dd>

                    <dt>Data aktualizacji</dt>
                    <dd>{{ radiotable.lastUpdateTime|date_format }}</dd>

                    <dt>Jednostka</dt>
                    <dd>{{ radiotable.useKhz ? 'kHz' : 'MHz' }}</dd>
                </dl>
            </dd>
        </div>
    {% endfor %}
</dl>
