{% set show_visibility = show_visibility|default(false) %}
{% set show_owner = show_owner|default(false) %}

<dl class="radio-tables-list">
    {% for radio_table in radio_tables %}
        <div class="radio-tables-list-item">
            <dt class="radio-tables-list-title">
                <a href="{{ path('radio_table.show', {id: radio_table.id}) }}">
                    {{ radio_table.name }}
                </a>
            </dt>
            <dd class="radio-tables-list-details">
                <dl>
                    {% if show_visibility %}
                        <dt>{{ 'radio_table.detail.status'|trans }}</dt>
                        <dd>{{ ('radio_table.detail.status.state.' ~ radio_table.status)|trans }}</dd>
                    {% endif %}

                    {% if show_owner and radio_table.owner.publicProfile %}
                        <dt>{{ 'radio_table.detail.author'|trans }}</dt>
                        <dd>
                            <a href="{{ path('user.public_profile', {name: radio_table.owner.name}) }}">
                                {{ radio_table.owner.name }}
                            </a>
                        </dd>
                    {% endif %}

                    <dt>{{ 'radio_table.detail.radio_stations_count'|trans }}</dt>
                    <dd>{{ radio_table.radioStationsCount }}</dd>

                    <dt>{{ 'radio_table.detail.last_update_time'|trans }}</dt>
                    <dd>{{ radio_table.lastUpdateTime|date_format }}</dd>

                    <dt>{{ 'radio_table.detail.unit'|trans }}</dt>
                    <dd>{{ radio_table.useKhz ? 'kHz' : 'MHz' }}</dd>
                </dl>
            </dd>
        </div>
    {% endfor %}
</dl>
