<dialog class="remove-dialog" id="remove-dialog" closedby="any">
    <div class="remove-dialog-question">
        {{ remove_question }}
    </div>

    <form method="dialog">
        {% if confirm_checkbox ?? true %}
            <div class="remove-dialog-checkbox">
                <div class="form-item form-item-checkbox">
                    <input required type="checkbox" id="remove-dialog-confirm-checkbox">
                    <label for="remove-dialog-confirm-checkbox">
                        {{ 'common.remove_dialog.text.confirm_checkbox'|trans }}
                    </label>
                </div>
            </div>
        {% endif %}

        <button formnovalidate autofocus>
            {{ 'common.remove_dialog.action.cancel'|trans }}
        </button>

        <button formmethod="post" formaction="{{ remove_post_url }}" class="remove">
            {{ 'common.remove_dialog.action.remove'|trans }}
        </button>
    </form>
</dialog>
