{{ form_start(search_form, {attr: {class: 'search-form'}}) }}

{{ form_label(search_form.s, null, {label_attr: {class: 'sr-only'}}) }}
{{ form_widget(search_form.s) }}

<button class="sr-only">{{ 'common.search_form.action.search'|trans }}</button>

{{ form_end(search_form) }}
