<!doctype html>

<html lang="{{ app.request.locale }}">
    <head>
        <!-- {{ app_version() }} -->
        <meta name="viewport" content="initial-scale=1">
        {{ encore_entry_link_tags('dark-error') }}
        <title>RadioLista — {{ 'layout.slogan'|trans }}</title>
    </head>

    <body>
        <div class="logo">
            <a href="{{ url('homepage') }}">RadioLista</a>
        </div>

        {% set error_title = 'dark_error.unknown_title' %}
        {% set error_text = 'dark_error.unknown_text' %}

        {% if message in ['MaintenanceMode', 'DatabaseConnection', 'UnexpectedRequest', 'RadioTableNotFound', 'NotFound'] %}
            {% set error_title = 'dark_error.message.' ~ message ~ '.title' %}
            {% set error_text = 'dark_error.message.' ~ message ~ '.text' %}
        {% endif %}

        <div class="content" data-banner-text="{{ 'dark_error.heading'|trans }}">
            <h1>{{ error_title|trans }}</h1>
            <p>{{ error_text|trans|nl2br(false) }}</p>
        </div>

        {{ tracker_code() }}
    </body>
</html>
