<!doctype html>

{% set current_locale = app.request.locale %}
{% set route_name = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set route_is_multilang = route_params._locale|default('') is not empty %}

<html class="{% block html_classes %}{% endblock %}" lang="{{ current_locale }}">
    <head>
        <!-- {{ app_version() }} -->
        <base href="{{ app.request.schemeAndHttpHost }}">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="RadioLista — {{ 'layout.description'|trans }}.">
        <meta name="language" content="{{ current_locale }}">

        {% if route_is_multilang %}
            {% for locale in locales %}
                <link rel="alternate" href="{{ path(route_name, route_params|merge({'_locale': locale})) }}" hreflang="{{ locale }}">
            {% endfor %}
        {% endif %}

        <link rel="icon" href="{{ asset('build/icon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('build/icon.png') }}">
        {{ encore_entry_link_tags('common') }}
        {{ encore_entry_script_tags('common') }}

        {% if block('page_title') %}
            <title>{% block page_title %}{% endblock %} — RadioLista</title>
        {% else %}
            <title>RadioLista — {{ 'layout.slogan'|trans }}</title>
        {% endif %}

        {% block head_closing %}{% endblock %}
    </head>

    <body class="customizable-background">
        <header class="site-header {{ development ? 'develop' : '' }}">
            <div class="site-width">
                <a href="{{ path('homepage') }}" class="site-logo">RadioLista</a>

                <nav class="site-navigation">
                    <h2 class="sr-only">{{ 'layout.navigation_title'|trans }}</h2>

                    <ul class="user-menu">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="username">
                                {% if app.user.publicProfile %}
                                    <a href="{{ path('user.public_profile', {name: app.user.name}) }}">
                                        {{ app.user.name }}
                                    </a>
                                {% else %}
                                    {{ app.user.name }}
                                {% endif %}
                            </li>
                            <li>
                                <a href="{{ path('user.my_radio_tables') }}">
                                    {{ 'user.my_radio_tables.title'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user.my_account_settings') }}">
                                    {{ 'user.settings.title'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('security.logout') }}">
                                    {{ 'session.action.logout'|trans }}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('security.login') }}">
                                    {{ 'session.login.title'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user.register') }}">
                                    {{ 'user.register.title'|trans }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="context-menu">
                        {% block context_menu %}{% endblock %}
                    </div>
                </nav>
            </div>

            {% set validation_error = app.flashes('validation_error')|last %}
            {% set error = app.flashes('error')|last %}
            {% set notice = app.flashes('notice')|last %}

            <span class="notification-wrapper">
                {% if validation_error %}
                    <span role="alert" class="notification error">{{ validation_error }}</span>
                {% elseif error %}
                    <span role="alert" class="notification error">{{ error|trans }}</span>
                {% elseif notice %}
                    <span role="alert" class="notification">{{ notice|trans }}</span>
                {% endif %}
            </span>
        </header>

        <main class="main-content site-width">
            {% block page_content %}{% endblock %}
        </main>

        <footer class="site-footer customizable-color">
            <p>&copy; RadioLista 2012-2021</p>
            <p><span class="sr-only">{{ 'layout.app_version'|trans }}:</span> {{ app_version() }}</p>
            <ul>
                <li>
                    <a href="{{ path('about_service') }}">
                        {{ 'general.static_page.about_service'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('contact') }}">
                        {{ 'general.static_page.contact'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('terms_of_service') }}">
                        {{ 'general.static_page.terms_of_service'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('all_radio_tables') }}">
                        {{ 'general.all_radio_tables.title'|trans }}
                    </a>
                </li>
                {% if route_is_multilang %}
                    {% for locale in locales %}
                        {% if locale != current_locale %}
                            <li>
                                <a href="{{ path(route_name, route_params|merge({'_locale': locale})) }}" hreflang="{{ locale }}">
                                    {{ locale|language_name(locale=locale)|capitalize }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </footer>

        {% block body_closing %}{% endblock %}
        {{ tracker_code() }}

        <script>if (document.documentMode) document.body.innerHTML = '<div style="font-size:20px;padding:20px 14%;text-align:center;background:#663399;color:#fff"><b>{{ 'layout.ie_alert'|trans }}</b></div>' + document.body.innerHTML;</script>
    </body>
</html>
