<!doctype html>

<html class="{% block html_classes %}{% endblock %}" lang="pl">
    <head>
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="RadioLista to miejsce, gdzie opublikować możesz wykazy radiowe i telewizyjne — bandscany, regularne wykazy odbieranych stacji czy prywatne listy ulubionych stacji.">

        <base href="{{ app.request.schemeAndHttpHost }}">
        <link rel="stylesheet" href="{{ asset('main.css') }}">
        <link rel="stylesheet" media="all and (max-width: 800px)" href="{{ asset('styles/mobile.css') }}">
        <script src="{{ asset('main.js') }}" defer></script>

        {% if block('page_title') %}
            <title>{% block page_title %}{% endblock %} — RadioLista</title>
        {% else %}
            <title>RadioLista — wykazy radiowe w Internecie</title>
        {% endif %}

        {% block head_closing %}{% endblock %}
    </head>

    <body>
        <header class="site-header">
            <div class="site-width">
                <h1><a href="{{ path('homepage') }}">RadioLista — wykazy radiowe w Internecie</a></h1>
                <nav class="site-navigation">
                    <h2 class="sr-only">Nawigacja</h2>

                    <ul class="user-menu">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="username">
                                {% if app.user.publicProfile %}
                                    <a href="{{ path('user.public_profile', {name: app.user.name}) }}">
                                        {{ app.user.name }}
                                    </a>
                                {% else %}
                                    {{ app.user.name }}
                                {% endif %}
                            </li>
                            <li><a href="{{ path('user.my_radiotables') }}">Moje wykazy</a></li>
                            <li><a href="{{ path('user.my_account_settings') }}">Moje konto</a></li>
                            <li><a href="{{ path('security.logout') }}">Wyloguj się</a></li>
                        {% else %}
                            <li><a href="{{ path('security.login') }}">Zaloguj się</a></li>
                            <li><a href="{{ path('user.register') }}">Zarejestruj się</a></li>
                        {% endif %}
                    </ul>

                    <div class="context-menu">
                        {% block context_menu %}{% endblock %}
                    </div>
                </nav>
            </div>

            {% set notifications = app.flashes %}
            {% if notifications %}
                {% set notification_type = notifications|keys|last %}
                {% set notification_text = notifications|last|last %}
                <span class="notification-wrapper" role="alert">
                    <span class="notification {{ notification_type }}">
                        {{ notification_text }}
                    </span>
                </span>
                <script>
                (function(){
                    var notification = document.querySelector('.notification-wrapper');
                    notification.classList.add('JS');
                    setTimeout(function(){
                        notification.classList.add('hidden');
                    }, 10000);
                })();
                </script>
            {% endif %}
        </header>

        <main class="main-content site-width">
            {% block page_content %}{% endblock %}
        </main>

        <footer class="site-footer">
            <p>&copy; Tomasz Gąsior 2012-2019</p>
            <ul>
                <li><a href="{{ path('about_service') }}">O stronie</a></li>
                <li><a href="{{ path('contact') }}">Kontakt</a></li>
                <li><a href="{{ path('terms_of_service') }}">Regulamin</a></li>
                <li><a href="{{ path('all_radiotables') }}">Wszystkie wykazy</a></li>
            </ul>
        </footer>

        {% block body_closing %}{% endblock %}
    </body>
</html>
