{% extends 'layout.html.twig' %}

{% block page_title %}Tworzenie wykazu{% endblock %}

{% block page_content %}
    <header>
        <h2>Utwórz wykaz</h2>
    </header>

    {{ form_start(form) }}

    <div class="tabbed-ui">
        <div>
            <h3>Główne</h3>

            <p class="information">W nazwie i opisie wykazu warto umieścić lokalizację (np. miejscowość lub województwo). Te&nbsp;informacje są używane przy przeszukiwaniu wykazów. Można je później zmienić.</p>

            {{ form_row(form.name) }}
            {{ form_row(form.useKhz) }}
            {{ form_row(form.description) }}
        </div>

        <div>
            <h3>Widoczność</h3>

            <div class="radioTableStatusForm">
                {{ form_row(form.status) }}
            </div>
        </div>
    </div>

    <button>Utwórz wykaz</button>

    {{ form_end(form) }}
{% endblock %}
