{% extends 'layout.html.twig' %}

{% block page_title %}Tworzenie wykazu{% endblock %}

{% block page_content %}
    <header>
        <h1>Utwórz wykaz</h1>
    </header>

    {{ form_start(form) }}

    <div class="tabbed-ui">
        <div>
            <h2>Główne</h2>

            <p class="information">
                W nazwie i opisie wykazu warto umieścić lokalizację (np.&nbsp;miejscowość lub województwo). Te&nbsp;informacje są&nbsp;używane przy&nbsp;przeszukiwaniu wykazów. Można je później zmienić.
            </p>

            {{ form_row(form.name) }}
            {{ form_row(form.useKhz) }}
            {{ form_row(form.description) }}
        </div>

        <div>
            <h2>Widoczność</h2>

            <div class="radiotable-status">
                {{ form_row(form.status) }}
            </div>
        </div>
    </div>

    <button>Utwórz wykaz</button>

    {{ form_end(form) }}
{% endblock %}
