{% extends 'layout.html.twig' %}

{% block page_title %}Usuwanie wykazu{% endblock %}

{% block head_closing %}
    <script src="{{ asset('scripts/formsUI.js') }}" defer></script>
{% endblock %}

{% block context_menu %}
    <ul>
        <li><a href="{{ path('radiotable.show', {id: radiotable.id}) }}">Zobacz wykaz</a></li>
        <li><a href="{{ path('radiotable.export', {id: radiotable.id}) }}">Eksport wykazu</a></li>
        <li><a href="{{ path('radiotable.settings', {id: radiotable.id}) }}">Ustawienia wykazu</a></li>
    </ul>
{% endblock %}

{% form_theme form_radiostation _self %}
{% block _radio_station_remove_chosenToRemove_entry_label %}
    {% set unit_label = use_KHz ? 'kHz' : 'MHz' %}
    {% set label = label ~ ' (' ~ frequency|number_format ~ ' ' ~ unit_label ~ ')' %}
    {{ block('form_label') }}
{% endblock %}

{% block page_content %}
    <header>
        <h2>Usuwanie wykazu i stacji</h2>
    </header>

    <div id="useTabbedUI">
        <div>
            <h3>Usuwanie stacji</h3>

            {% if radiotable.radioStationsCount > 0 %}
                {{ form_start(form_radiostation) }}

                <dl class="radioStationsSelectBox checkboxesWithFullWidth">
                    {{ form_row(form_radiostation.chosenToRemove) }}
                </dl>

                <button>Usuń zaznaczone stacje</button>

                {{ form_end(form_radiostation) }}
            {% else %}
                <p class="information">Ten wykaz jest pusty. Nie ma czego usuwać&hellip;</p>
            {% endif %}
        </div>
        <div>
            <h3>Usuwanie wykazu</h3>

            <p class="information">Usunięcie wykazu jest nieodwracalne. Pamiętaj, że przed usunięciem możesz wyeksportować wykaz do&nbsp;pliku HTML, PDF lub CSV, aby pobrać go na komputer.</p>

            {{ form_start(form_radiotable) }}

            <dl class="removingConfirm checkboxesWithFullWidth">
                {% spaceless %}
                    {{ form_row(form_radiotable.confirm, {
                        label: 'Usuń cały wykaz „' ~ radiotable.name ~ '” na zawsze'
                    }) }}
                {% endspaceless %}
            </dl>

            <button>Usuń wykaz</button>

            {{ form_end(form_radiotable) }}

            <script>
                document.querySelector('dl.removingConfirm input').onchange = function() {
                   if( this.checked && !window.confirm('Czy na pewno?') )
                       this.checked = false;
                }
            </script>
        </div>
    </div>
{% endblock %}
