{% extends 'layout.html.twig' %}

{% block page_title %}Usuwanie wykazu{% endblock %}

{% block context_menu %}
    <ul>
        <li><a href="{{ path('radiotable.show', {id: radiotable.id}) }}">Zobacz wykaz</a></li>
        <li><a href="{{ path('radiotable.export', {id: radiotable.id}) }}">Eksport wykazu</a></li>
        <li><a href="{{ path('radiotable.settings', {id: radiotable.id}) }}">Ustawienia wykazu</a></li>
    </ul>
{% endblock %}

{% form_theme form_radiostation _self %}
{% block _radio_station_remove_chosenToRemove_entry_label %}
    {% set unit_label = use_KHz ? 'kHz' : 'MHz' %}
    {% set label = label ~ ' (' ~ frequency|number_format ~ ' ' ~ unit_label ~ ')' %}
    {{ block('form_label') }}
{% endblock %}

{% block page_content %}
    <header>
        <h2>Usuwanie wykazu i stacji</h2>
    </header>

    <div class="tabbed-ui">
        <div>
            <h3>Usuwanie stacji</h3>

            {% if radiotable.radioStationsCount > 0 %}
                {{ form_start(form_radiostation) }}

                <div class="radiostations-remove">
                    {{ form_row(form_radiostation.chosenToRemove) }}
                </div>
                <script>
                (function(){
                    var container = document.querySelector('.radiostations-remove');

                    document.addEventListener('DOMContentLoaded', function(){
                        if (container.clientWidth !== container.offsetWidth) {
                            container.classList.add('radiostations-remove-scrollable');
                        }
                    });
                })();
                </script>

                <button>Usuń zaznaczone stacje</button>

                {{ form_end(form_radiostation) }}
            {% else %}
                <p class="information">Ten wykaz jest pusty. Nie ma czego usuwać&hellip;</p>
            {% endif %}
        </div>
        <div>
            <h3>Usuwanie wykazu</h3>

            <p class="information">Usunięcie wykazu jest nieodwracalne. Pamiętaj, że przed usunięciem możesz wyeksportować wykaz do&nbsp;pliku HTML, PDF lub CSV, aby pobrać go na komputer.</p>

            {{ form_start(form_radiotable) }}

            <div class="radiotable-remove-confirm">
                {{ form_row(form_radiotable.confirm, {
                    label: 'Usuń cały wykaz „' ~ radiotable.name ~ '” na zawsze'
                }) }}
            </div>

            <button>Usuń wykaz</button>

            {{ form_end(form_radiotable) }}

            <script>
            (function(){
                var input = document.querySelector('.radiotable-remove-confirm input');
                var confirm = function() {
                    if (input.checked && false === window.confirm('Czy na pewno? Tej czynności nie można cofnąć!')) {
                        input.checked = false;
                        input.blur();
                    }

                    input.removeEventListener('change', confirm);
                };
                input.addEventListener('change', confirm);
            })();
            </script>
        </div>
    </div>
{% endblock %}
