{% extends 'layout.html.twig' %}

{% block page_title %}Usuwanie wykazu{% endblock %}

{% block head_closing %}
    <script src="{{ asset('scripts/formsUI.js') }}" defer></script>
{% endblock %}

{% block context_menu %}
    <ul>
        <li><a href="{{ path('radiotable.show', {id: radiotable.id}) }}">Zobacz wykaz</a></li>
        <li><a href="{{ path('radiotable.export', {id: radiotable.id}) }}">Eksport wykazu</a></li>
        <li><a href="{{ path('radiotable.settings', {id: radiotable.id}) }}">Ustawienia wykazu</a></li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h2>Usuwanie wykazu</h2>
    </header>

    {{ form_start(form) }}

    <div id="useTabbedUI">
        <div>
            <h3>Usuwanie wykazu</h3>

            <p class="information">Usunięcie wykazu jest nieodwracalne. Pamiętaj, że przed usunięciem możesz wyeksportować wykaz do&nbsp;pliku HTML, PDF lub CSV, aby pobrać go na komputer.</p>

            <dl class="removingConfirm checkboxesWithFullWidth">
                {% spaceless %}
                    {{ form_row(form.confirm, {
                        label: 'Usuń cały wykaz „' ~ radiotable.name ~ '” na zawsze'
                    }) }}
                {% endspaceless %}
            </dl>

            <button>Usuń wykaz</button>

            <script>
                document.querySelector('dl.removingConfirm input').onchange = function() {
                    if( this.checked && !window.confirm('Czy na pewno?') )
                        this.checked = false;
                }
            </script>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
