{% extends 'layout.html.twig' %}

{% block page_title %}Ustawienia wykazu{% endblock %}

{% block head_closing %}
    <script src="{{ asset('radiotable-settings.js', 'minified') }}"></script>
{% endblock %}

{% block context_menu %}
    <ul>
        <li>
            <a href="{{ path('radiotable.show', {id: radiotable.id}) }}">
                Zobacz wykaz
            </a>
        </li>
        <li>
            <a href="{{ path('radiostation.add', {radioTableId: radiotable.id}) }}">
                Dodaj stację
            </a>
        </li>
        <li>
            <a href="{{ path('radiotable.remove', {id: radiotable.id}) }}">
                Usuń stacje lub wykaz
            </a>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h1 class="separated-title">
            <span>Ustawienia wykazu</span>
            <span class="additional">{{ radiotable.name }}</span>
        </h1>
    </header>

    {{ form_start(form) }}

    <div class="tabbed-ui">
        <div>
            <h2>Główne</h2>

            {{ form_row(form.name) }}
            {{ form_row(form.useKhz) }}
            {{ form_row(form.sorting) }}
            {{ form_row(form.description) }}
        </div>

        <div>
            <h2>Widoczność</h2>

            <div class="radiotable-status">
                {{ form_row(form.status) }}
            </div>
        </div>

        <div>
            <h2>Kolumny</h2>

            <noscript>
                <p class="information">
                    Kolejność kolumn wykazu jest uzależniona od przypisanych do nich liczb. Aby przenieść kolumnę, zmień jej liczbę. Aby ukryć kolumnę, wpisz liczbę ujemną. Aby skorzystać z&nbsp;wygodnego graficznego edytora kolumn, włącz JavaScript w&nbsp;przeglądarce.
                </p>
            </noscript>

            <div class="radiotable-columns">
                {{ form_row(form.columns) }}

                <template class="radiotable-columns-buttons-template">
                    <button type="button" class="toggle" data-show-label="Pokaż" data-hide-label="Ukryj"></button>
                    <button type="button" class="move-up">Do góry</button>
                    <button type="button" class="move-down">W dół</button>
                </template>
            </div>
        </div>

        <div>
            <h2>Wygląd</h2>

            {% set jscolor_settings = '{mode:\'HSV\', required:false, hash:true, borderRadius:0, borderWidth:0, shadowBlur:2}' %}

            {{ form_row(form.appearanceTheme, {attr: {'class': 'radiotable-theme'}}) }}

            {# style="" is used as dirty hack for box-shadow removing. #}
            <div class="radiotable-custom-theme-wrapper">
                {{ form_row(form.appearanceBackgroundColor, {attr: {
                    'class': 'jscolor',
                    'style': '',
                    'data-jscolor': jscolor_settings,
                }}) }}
                {{ form_row(form.appearanceColor, {attr: {
                    'class': 'jscolor',
                    'style': '',
                    'data-jscolor': jscolor_settings,
                }}) }}
                {{ form_row(form.appearanceBackgroundImage) }}
            </div>

            {{ form_row(form.appearanceFullWidth) }}

            <script>
            (function(){
                const CUSTOM_THEME_NAME = '';
                var themeSelectorField = document.querySelector('.radiotable-theme');
                var customThemeFieldsWrapper = document.querySelector('.radiotable-custom-theme-wrapper');

                var updateFieldVisibility = function()
                {
                    customThemeFieldsWrapper.hidden = (themeSelectorField.value != CUSTOM_THEME_NAME);
                };
                updateFieldVisibility();
                themeSelectorField.addEventListener('change', updateFieldVisibility);
                themeSelectorField.addEventListener('blur', updateFieldVisibility);
            })();
            </script>
        </div>

        <div id="export">
            <h2>Eksport</h2>

            {% if radiotable.radioStationsCount > 0 %}
                <p class="information">
                    Wybierz pożądany format eksportu, aby pobrać cały wykaz w&nbsp;formie pliku na swój komputer. Wykaz&nbsp;eksportowany jest z&nbsp;aktualnie ustawionym sortowaniem i&nbsp;aktualnie widocznymi kolumnami. Pomijane&nbsp;są&nbsp;szczegółowe informacje o&nbsp;RDS.
                </p>

                <ul class="radiotable-export-list">
                    <li>
                        <a href="{{ path('radiotable.download', {id: radiotable.id, _format: 'pdf'}) }}" class="button">
                            Pobierz dokument PDF
                        </a>
                        PDF — dokument elektroniczny do przeglądania i&nbsp;druku
                    </li>
                    <li>
                        <a href="{{ path('radiotable.download', {id: radiotable.id, _format: 'csv'}) }}" class="button">
                            Pobierz arkusz CSV
                        </a>
                        CSV — zestaw danych do zaimportowania i&nbsp;edycji w&nbsp;arkuszu kalkulacyjnym
                    </li>
                    <li>
                        <a href="{{ path('radiotable.download', {id: radiotable.id, _format: 'html'}) }}" class="button">
                            Pobierz stronę HTML
                        </a>
                        HTML — plik strony internetowej otwierany w&nbsp;przeglądarce
                    </li>
                </ul>
            {% else %}
                <p class="information">
                    Ten wykaz jest pusty. Nie można go wyeksportować.
                </p>
            {% endif %}
        </div>
    </div>

    <button>Zapisz</button>

    {{ form_end(form) }}
{% endblock %}

{% block body_closing %}
    <script src="{{ asset('thirdparty/jscolor.min.js') }}" async></script>
{% endblock %}
