{% extends 'layout.html.twig' %}

{% block page_title %}Ustawienia wykazu{% endblock %}

{% block head_closing %}
    <script src="{{ asset('scripts/formsUI.js') }}" defer></script>
    <script src="{{ asset('scripts/radioTableColumnsUI.js') }}" defer></script>
{% endblock %}

{% block context_menu %}
    <ul>
        <li><a href="{{ path('radiotable.show', {id: radiotable.id}) }}">Zobacz wykaz</a></li>
        <li><a href="{{ path('radiostation.add', {radioTableId: radiotable.id}) }}">Dodaj stację</a></li>
        <li><a href="{{ path('radiostation.copy', {radioTableId: radiotable.id}) }}">Kopiuj stację</a></li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h2>Ustawienia wykazu</h2>
    </header>

    {{ form_start(form) }}

    <div id="useTabbedUI">
        <div>
            <h3>Główne</h3>

            <dl>
                {{ form_row(form.name) }}
                {{ form_row(form.useKhz) }}
                {{ form_row(form.sorting) }}
                {{ form_row(form.description) }}
            </dl>
        </div>

        <div>
            <h3>Widoczność</h3>

            <dl class="radioTableStatusForm checkboxesWithFullWidth">
                {{ form_row(form.status) }}
            </dl>
        </div>

        <div>
            <h3>Kolumny</h3>

            <noscript><p class="information">Kolejność kolumn wykazu jest uzależniona od przypisanych do nich liczb. Aby przenieść kolumnę, zmień jej liczbę. Aby ukryć kolumnę, wpisz liczbę ujemną. Liczby nie mogą się powtarzać i&nbsp;nie można używać zera. Aby skorzystać z&nbsp;wygodnego graficznego edytora kolumn, włącz JavaScript w&nbsp;przeglądarce.</p></noscript>

            <dl class="radioTableColumnsForm">
                {{ form_row(form.columns) }}
            </dl>
        </div>
    </div>

    <button>Zapisz</button>

    {{ form_end(form) }}
{% endblock %}
