{% extends 'layout.html.twig' %}

{% block page_title %}Ustawienia wykazu{% endblock %}

{% block head_closing %}
    <link rel="stylesheet" href="{{ asset('styles/themes.css') }}">
    <script src="{{ asset('scripts/formsUI.js') }}" defer></script>
    <script src="{{ asset('scripts/radioTableColumnsUI.js') }}" defer></script>
{% endblock %}

{% block context_menu %}
    <ul>
        <li><a href="{{ path('radiotable.show', {id: radiotable.id}) }}">Zobacz wykaz</a></li>
        <li><a href="{{ path('radiostation.add', {radioTableId: radiotable.id}) }}">Dodaj stację</a></li>
        <li><a href="{{ path('radiostation.copy', {radioTableId: radiotable.id}) }}">Kopiuj stację</a></li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h2>Ustawienia wykazu</h2>
    </header>

    {{ form_start(form) }}

    <div id="useTabbedUI">
        <div>
            <h3>Główne</h3>

            <dl>
                {{ form_row(form.name) }}
                {{ form_row(form.useKhz) }}
                {{ form_row(form.sorting) }}
                {{ form_row(form.description) }}
            </dl>
        </div>

        <div>
            <h3>Widoczność</h3>

            <dl class="radioTableStatusForm checkboxesWithFullWidth">
                {{ form_row(form.status) }}
            </dl>
        </div>

        <div>
            <h3>Kolumny</h3>

            <noscript><p class="information">Kolejność kolumn wykazu jest uzależniona od przypisanych do nich liczb. Aby przenieść kolumnę, zmień jej liczbę. Aby ukryć kolumnę, wpisz liczbę ujemną. Liczby nie mogą się powtarzać i&nbsp;nie można używać zera. Aby skorzystać z&nbsp;wygodnego graficznego edytora kolumn, włącz JavaScript w&nbsp;przeglądarce.</p></noscript>

            <dl class="radioTableColumnsForm">
                {{ form_row(form.columns) }}
            </dl>
        </div>

        <div>
            <h3>Wygląd</h3>

            <dl class="radioTableThemeSelection">
                {{ form_row(form.appearanceTheme) }}
            </dl>

            <dl class="radioTableAppearanceFields">
                {# style="" is used as dirty hack for box-shadow removing. #}
                {{ form_row(form.appearanceBackgroundColor, {attr: {
                    'class': 'jscolor',
                    'style': '',
                    'data-jscolor': '{mode:\'HSV\', required:false, hash:true, borderRadius:0, borderWidth:0, shadowBlur:4}',
                }}) }}
                {{ form_row(form.appearanceColor, {attr: {
                    'class': 'jscolor',
                    'style': '',
                    'data-jscolor': '{mode:\'HSV\', required:false, hash:true, borderRadius:0, borderWidth:0, shadowBlur:4}',
                }}) }}
                {{ form_row(form.appearanceBackgroundImage) }}
                {{ form_row(form.appearanceFullWidth) }}
            </dl>

            <button type="button" id="defaultRadioTableAppearance">Przywróć domyślny wygląd</button>

            <script>
                var selectionList = document.querySelector('dl.radioTableThemeSelection')
                var previewBoxes  = selectionList.querySelectorAll('dl.radioTableThemeSelection dd');
                selectionList.className = 'radioTableThemeSelection_JSOn';
                for( i in previewBoxes ) {
                    if( previewBoxes[i].tagName != 'DD' ) break;
                    if( previewBoxes[i].children[0].name )
                        previewBoxes[i].className = 'preview_' + previewBoxes[i].children[0].value;
                }

                var colorInputs = document.querySelectorAll('input[type="color"]');
                for( var i=0; i<colorInputs.length; i++ )
                    colorInputs[i].type = 'text';

                document.getElementById('defaultRadioTableAppearance').id = 'defaultRadioTableAppearance_JSOn';
                document.getElementById('defaultRadioTableAppearance_JSOn').onclick = function() {
                    var appearanceForm = document.querySelectorAll('.radioTableAppearanceFields input');
                    for( i in appearanceForm ) {
                        appearanceForm[i].value = '';
                        appearanceForm[i].style = '';
                    }
                }
            </script>
        </div>

        <div>
            <h3>Eksport</h3>

            {% if radiotable.radioStationsCount > 0 %}
                <p class="information">Wskaż format eksportu, aby pobrać cały wykaz w&nbsp;formie pliku na swój komputer. Wykaz eksportowany jest z&nbsp;aktualnie ustawionym sortowaniem i&nbsp;aktualnie widocznymi kolumnami. Pomijane są szczegółowe informacje o&nbsp;RDS oraz wyróżnienia wizualne.</p>

                <ul>
                    <li>
                        HTML – plik strony internetowej otwierany w&nbsp;przeglądarce
                        <a href="{{ path('radiotable.download', {id: radiotable.id, _format: 'html'}) }}">Pobierz plik HTML</a>
                    </li>
                    <li>
                        CSV – zestaw danych do zaimportowania w arkuszu kalkulacyjnym
                        <a href="{{ path('radiotable.download', {id: radiotable.id, _format: 'csv'}) }}">Pobierz plik CSV</a>
                    </li>
                    <li>
                        PDF – dokument elektroniczny do przeglądania i&nbsp;druku
                        <a href="{{ path('radiotable.download', {id: radiotable.id, _format: 'pdf'}) }}">Pobierz plik PDF</a>
                    </li>
                </ul>
            {% else %}
                <p class="information">Ten wykaz jest pusty. Nie można go wyeksportować.</p>
            {% endif %}
        </div>
    </div>

    <button>Zapisz</button>

    {{ form_end(form) }}
{% endblock %}
