{% extends 'layout.html.twig' %}

{% block page_title %}{{ radiotable.name }}{% endblock %}

{% block page_content %}
    <header>
        <h2 class="custTxt">{{ radiotable.name }}</h2>
    </header>

    {% if radiotable.radioStationsCount > 0 %}
        <div class="radioTable custTxt">
            {{ radiotable_code|raw }}
        </div>

        <section class="radioTableInfo custTxt">
            <h3>Informacje o wykazie</h3>

            {{ radiotable.description|raw }}
            <dl>
                <dt>Liczba stacji</dt>
                <dd>{{ radiotable.radioStationsCount }}</dd>
                <dt>Data aktualizacji</dt>
                <dd>{{ radiotable.lastUpdateTime|date }}</dd>
                {% if radiotable.owner.publicProfile %}
                    <dt>Autor</dt>
                    <dd><a href="{{ path('user.public_profile', {name: radiotable.owner.name}) }}">{{ radiotable.owner.name }}</a></dd>
                {% endif %}
            </dl>
        </section>
    {% else %}
        <p class="information">Ten wykaz jest pusty. <a href="{{ path('radiostation.add', {radioTableId: radiotable.id}) }}">Dodaj do niego jakąś stację</a>, by usunąć ten komunikat.</p>
    {% endif %}
{% endblock %}
