{% extends 'layout.html.twig' %}

{% set custom_css = '' %}

{% if radiotable.appearance.th is empty %}
    {% if radiotable.appearance.fg %}
        {% set custom_css = custom_css ~ '.customizable-color { color: ' ~ radiotable.appearance.fg ~ ' }' %}
    {% endif %}

    {% if radiotable.appearance.bg %}
        {% set custom_css = custom_css ~ '.customizable-background { background: ' ~ radiotable.appearance.bg %}
        {% if radiotable.appearance.img %}
            {% set custom_css = custom_css ~ ' url("' ~ radiotable.appearance.img ~ '") center fixed' %}
        {% endif %}
        {% set custom_css = custom_css ~ ' }' %}
    {% endif %}
{% endif %}

{% block html_classes %}
    {%- if custom_css or radiotable.appearance.th %}customized-radiotable{% endif -%}
    {%- if radiotable.appearance.th %} theme-{{ radiotable.appearance.th }}{% endif -%}
    {%- if radiotable.appearance.full %} full-width{% endif -%}
{% endblock %}

{% block page_title %}{{ radiotable.name }}{% endblock %}

{% block head_closing %}
    {% if radiotable.status != constant('STATUS_PUBLIC', radiotable) %}
        <meta name="robots" content="noindex, noarchive">
    {% endif %}

    {% if custom_css %}<style>{{ custom_css|raw }}</style>{% endif %}
    {% if radiotable.appearance.th %}
        <link rel="stylesheet" href="{{ asset('themes.css') }}">
    {% endif %}

    <script src="{{ asset('radiotable.js') }}"></script>
{% endblock %}

{% block context_menu %}
    {% if is_granted('RADIOTABLE_MODIFY', radiotable) %}
        <ul>
            <li><a href="{{ path('radiostation.add', {radioTableId: radiotable.id}) }}">Dodaj stację</a></li>
            <li><a href="{{ path('radiotable.settings', {id: radiotable.id}) }}">Ustawienia wykazu</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block page_content %}
    <header class="customizable-color">
        <h2>{{ radiotable.name }}</h2>
    </header>

    {% if radiotable.radioStationsCount > 0 %}
        <div class="radiotable-container customizable-color">
            {% embed 'radiotable/table/radiotable.html.twig' %}
                {%- block table_class 'radiotable sortable' -%}

                {%- block heading_cell -%}
                    {%- set columns_sorting = {
                        (constant('App\\Entity\\RadioTable::COLUMN_FREQUENCY')):      'N',
                        (constant('App\\Entity\\RadioTable::COLUMN_PRIVATE_NUMBER')): 'N',
                        (constant('App\\Entity\\RadioTable::COLUMN_QUALITY')):        'N',
                        (constant('App\\Entity\\RadioTable::COLUMN_POWER')):          'N',
                        (constant('App\\Entity\\RadioTable::COLUMN_NAME')):           'T',
                        (constant('App\\Entity\\RadioTable::COLUMN_RADIO_GROUP')):    'T',
                        (constant('App\\Entity\\RadioTable::COLUMN_COUNTRY')):        'T',
                        (constant('App\\Entity\\RadioTable::COLUMN_LOCATION')):       'T',
                        (constant('App\\Entity\\RadioTable::COLUMN_POLARIZATION')):   'T',
                        (constant('App\\Entity\\RadioTable::COLUMN_TYPE')):           'T',
                        (constant('App\\Entity\\RadioTable::COLUMN_LOCALITY')):       'T',
                    } -%}
                    <th {% if columns_sorting[column] is defined %}data-sort="{{ columns_sorting[column] }}"{% endif %}>
                        {{- columns_labels[column] -}}
                    </th>
                {%- endblock -%}

                {%- block row_start -%}
                    <tr {% if radiostation.marker %}class="marker-{{ radiostation.marker }}"{% endif %}>
                {%- endblock -%}

                {%- block radiostation_name -%}
                    {% if is_granted('RADIOTABLE_MODIFY', radiotable) %}
                        <a href="{{ path('radiostation.edit', {id: radiostation.id}) }}">{{ radiostation.name }}</a>
                    {% else %}
                        {{ radiostation.name }}
                    {% endif %}
                {%- endblock -%}

                {%- block radiostation_rds %}
                    {#- Value of data-* attributes need to be double-escaped. JS will automatically unescape them once. -#}
                    <span data-pty="{{ rds_pty|e|e }}" data-rt="{{ rds_rt|e|e }}" data-ps="{{ rds_ps_frames|join('|')|e|e }}"
                          class="rds rds-popup-enabled">{{ rds_ps_frames|first }}</span>
                {%- endblock -%}
            {% endembed %}

            <template class="rds-popup-template">
                <section class="rds-popup" role="alert">
                    <h3>Informacje o RDS</h3>
                    <dl>
                        <div class="rds-popup-ps-row">
                            <dt>PS</dt>
                            <dd class="rds-popup-ps-value"></dd>
                        </div>
                        <div class="rds-popup-rt-row">
                            <dt>RT</dt>
                            <dd class="rds-popup-rt-value"></dd>
                        </div>
                        <div class="rds-popup-pty-row">
                            <dt>PTY</dt>
                            <dd class="rds-popup-pty-value"></dd>
                        </div>
                    </dl>
                </section>
            </template>
        </div>

        <section class="radiotable-details customizable-color">
            <h3 class="sr-only">Informacje o wykazie</h3>

            {{ radiotable.description|raw }}
            <dl>
                <div>
                    <dt>Liczba stacji</dt>
                    <dd>{{ radiotable.radioStationsCount }}</dd>
                </div>
                <div>
                    <dt>Data aktualizacji</dt>
                    <dd>{{ radiotable.lastUpdateTime|date_format }}</dd>
                </div>
                {% if radiotable.owner.publicProfile %}
                    <div>
                        <dt>Autor</dt>
                        <dd>
                            <a href="{{ path('user.public_profile', {name: radiotable.owner.name}) }}">{{ radiotable.owner.name }}</a>
                        </dd>
                    </div>
                {% endif %}
            </dl>
        </section>
    {% else %}
        <p class="information">
            Ten wykaz jest pusty.
            {% if is_granted('RADIOTABLE_MODIFY', radiotable) %}
                <a href="{{ path('radiostation.add', {radioTableId: radiotable.id}) }}">Dodaj do niego jakąś stację</a>, by usunąć ten komunikat.
            {% endif %}
        </p>
    {% endif %}
{% endblock %}
