{% extends 'layout.html.twig' %}

{% block page_title %}{{ radioTable.name }}{% endblock %}

{% block page_content %}
    <header>
        <h2 class="custTxt">{{ radioTable.name }}</h2>
    </header>

    {% if radioTable.radioStationsCount > 0 %}
        <div class="radioTable custTxt">
            {{ radioTableCode|raw }}
        </div>

        <section class="radioTableInfo custTxt">
            <h3>Informacje o wykazie</h3>

            {{ radioTable.description|raw }}
            <dl>
                <dt>Liczba stacji</dt>
                <dd>{{ radioTable.radioStationsCount }}</dd>
                <dt>Data aktualizacji</dt>
                <dd>{{ radioTable.lastUpdateTime|date }}</dd>
                {% if radioTable.owner.publicProfile %}
                    <dt>Autor</dt>
                    <dd><a href="{{ path('user_profile', {name: radioTable.owner.name}) }}">{{ radioTable.owner.name }}</a></dd>
                {% endif %}
            </dl>
        </section>
    {% else %}
        <p class="information">Ten wykaz jest pusty. <a href="{{ path('radiostation_add', {id: radioTable.id}) }}">Dodaj do niego jakąś stację</a>, by usunąć ten komunikat.</p>
    {% endif %}
{% endblock %}
