{% extends 'layout.html.twig' %}

{% set custom_css = '' %}

{% if radiotable.appearance.th is empty %}
    {% if radiotable.appearance.fg %}
        {% set custom_css = custom_css ~ '.custTxt{ color: ' ~ radiotable.appearance.fg ~ ' }' %}
    {% endif %}

    {% if radiotable.appearance.bg %}
        {% set custom_css = custom_css ~ '.custBg { background: ' ~ radiotable.appearance.bg %}

        {% if radiotable.appearance.img %}
            {% set custom_css = custom_css ~ ' url(' ~ radiotable.appearance.img ~ ') center fixed' %}
        {% endif %}

        {% set custom_css = custom_css ~ ' }' %}
    {% endif %}
{% endif %}

{% block html_classes %}
    {% if custom_css or radiotable.appearance.th %}customizedRadioTable{% endif %}
    {% if radiotable.appearance.th %}theme_{{ radiotable.appearance.th }}{% endif %}
    {% if radiotable.appearance.full %}fullWidth{% endif %}
{% endblock %}

{% block page_title %}{{ radiotable.name }}{% endblock %}

{% block head_closing %}
    <script src="{{ asset('scripts/radioTable.js') }}" defer></script>

    {% if radiotable.status != constant('STATUS_PUBLIC', radiotable) %}
        <meta name="robots" content="noindex, noarchive">
    {% endif %}

    {% if custom_css %}<style>{{ custom_css }}</style>{% endif %}
    {% if radiotable.appearance.th %}
        <link rel="stylesheet" href="{{ asset('styles/themes.css') }}">
    {% endif %}
{% endblock %}

{% block context_menu %}
    {% if is_granted('RADIOTABLE_MODIFY', radiotable) %}
        <ul>
            <li><a href="{{ path('radiostation.add', {radioTableId: radiotable.id}) }}">Dodaj stację</a></li>
            <li><a href="{{ path('radiotable.settings', {id: radiotable.id}) }}">Ustawienia wykazu</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block page_content %}
    <header>
        <h2 class="custTxt">{{ radiotable.name }}</h2>
    </header>

    {% if radiotable.radioStationsCount > 0 %}
        <div class="radioTable custTxt">
            {{ radiotable_code|raw }}
        </div>

        <section class="radioTableInfo custTxt">
            <h3>Informacje o wykazie</h3>

            {{ radiotable.description|raw }}
            <dl>
                <dt>Liczba stacji</dt>
                <dd>{{ radiotable.radioStationsCount }}</dd>
                <dt>Data aktualizacji</dt>
                <dd>{{ radiotable.lastUpdateTime|date_format }}</dd>
                {% if radiotable.owner.publicProfile %}
                    <dt>Autor</dt>
                    <dd><a href="{{ path('user.public_profile', {name: radiotable.owner.name}) }}">{{ radiotable.owner.name }}</a></dd>
                {% endif %}
            </dl>
        </section>
    {% else %}
        <p class="information">
            Ten wykaz jest pusty.
            {% if is_granted('RADIOTABLE_MODIFY', radiotable) %}
                <a href="{{ path('radiostation.add', {radioTableId: radiotable.id}) }}">Dodaj do niego jakąś stację</a>, by usunąć ten komunikat.
            {% endif %}
        </p>
    {% endif %}
{% endblock %}
