<!doctype html>

<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="generator" content="RadioLista – {{ app.request.schemeAndHttpHost }}">
        <title>{{ radiotable.name }} — RadioLista</title>
        <style>
            body {
                margin: 0.1em 3% 2em 3%;
                background: #fff;
                color: #000;
                cursor: default;
                font: 16px 'Lato', 'Cantarell', 'SF Pro Display', 'Ubuntu', 'Droid Sans', 'Source Sans Pro', 'Segoe UI', 'Tahoma', sans-serif;
                {# Needed for Cantarell and number indentation. -#}
                font-variant-numeric: tabular-nums;
            }
            h1 {
                font-weight: normal;
                text-align: center;
                {# Weird combination of margin and padding needed for wkhtmltopdf. -#}
                margin: 0.5em 0 0.1em;
                padding: 0.3em 0 0.75em;
            }
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table th {
                text-align: left;
            }
            table td {
                border-top: 1px solid #ebebeb;
            }
            table th, table td {
                padding: 0.35em 0.5em;
            }
            table tbody tr {
                transition: all ease-out 0.1s;
            }
            table tbody tr:hover {
                background: #eee;
            }
            span.rds {
                white-space: pre;
                font-family: 'Inconsolata', 'Consolas', 'Source Code Pro', 'Lucida Console', monospace;
                background: #dedede;
                padding: 0 3px;
            }
            span.number-indent-apply-1:before {
                content: '0';
                opacity: 0;
            }
            span.number-indent-apply-2:before {
                content: '00';
                opacity: 0;
            }
            footer {
                font-size: 0.85em;
                text-align: center;
                margin-top: 1.8em;
            }
            table, tr, td, th, tbody, thead, tfoot {
                {# Needed for wkhtmltopdf to avoid broken table rows. -#}
                page-break-inside: avoid !important;
            }
        </style>
    </head>

    <body>
        <header>
            <h1>{{ radiotable.name }}</h1>
        </header>

        {% include 'radiotable/table/radiotable.html.twig' %}

        <footer>
            <p>Wykaz wygenerowano w serwisie <a href="{{ app.request.schemeAndHttpHost }}">RadioLista</a> dnia {{ 'now'|date_format }}.</p>
        </footer>

        <script>
        {# Keep this script in sync with "main.js". -#}
        {#- Use for(key in array) syntax instead .forEach() and avoid Array.from() -#}
        {#- for compatibility with wkhtmltopdf which is used for PDF convertion. -#}
        (function(table){
            this.elementsIndent1 = table.querySelectorAll('.number-indent-1');
            this.elementsIndent2 = table.querySelectorAll('.number-indent-2');

            for (key in this.elementsIndent1) {
                var element = this.elementsIndent1[key];
                var value = parseInt(element.textContent);

                if (value < 10) {
                   element.classList.add('number-indent-apply-1');
                }
            }
            for (key in this.elementsIndent2) {
                var element = this.elementsIndent2[key];
                var value = parseInt(element.textContent);

                if (value < 10) {
                    element.classList.add('number-indent-apply-2');
                }
                else if (value < 100) {
                    element.classList.add('number-indent-apply-1');
                }
            }
        })(document.querySelector('table'));
        </script>
    </body>
</html>
