{% extends 'layout.html.twig' %}

{% block page_title %}Ustawienia konta{% endblock %}

{% block page_content %}
    <header>
        <h1>Ustawienia konta</h1>
    </header>

    {{ form_start(form) }}

    <div class="tabbed-ui">
        <div>
            <h2>Moje konto</h2>

            <dl class="my-account-details">
                <div>
                    <dt>Nazwa użytkownika</dt>
                    <dd>{{ app.user.name }}</dd>
                </div>

                <div>
                    <dt>Data ostatniej aktywności</dt>
                    <dd>{{ app.user.lastActivityDate|date_format }}</dd>
                </div>

                <div>
                    <dt>Data założenia konta</dt>
                    <dd>{{ app.user.registerDate|date_format }}</dd>
                </div>

                <div>
                    <dt>Stan profilu publicznego</dt>
                    <dd>{{ app.user.publicProfile ? 'włączony' : 'wyłączony' }}</dd>
                </div>

                <div>
                    <dt>Liczba utworzonych wykazów</dt>
                    <dd>{{ app.user.radioTablesCount }}</dd>
                </div>
            </dl>
        </div>
        <div>
            <h2>Profil publiczny</h2>

            <p class="information">
                Publiczna strona profilowa zawiera spis twoich wykazów oraz poniższy opis. Włączenie publicznej strony profilowej ujawni twoją nazwę użytkownika i&nbsp;spowoduje umieszczenie odnośnika do twojego profilu pod każdym twoim wykazem.
            </p>

            {{ form_row(form.aboutMe) }}
            {{ form_row(form.publicProfile) }}
        </div>
        <div>
            <h2>Zmiana hasła</h2>

            <p class="information">
                Jeżeli nie chcesz zmieniać hasła, pozostaw pola puste.
            </p>

            {{ form_row(form.currentPassword) }}
            {{ form_row(form.plainPassword) }}
        </div>
    </div>

    <button>Zapisz</button>

    {{ form_end(form) }}
{% endblock %}
