{% extends 'layout.html.twig' %}

{% block page_title %}Ustawienia konta{% endblock %}

{% block page_content %}
    <header>
        <h2>Ustawienia konta</h2>
    </header>

    {{ form_start(form) }}

    <div class="tabbed-ui">
        <div>
            <h3>Moje konto</h3>

            <dl class="my-account-details">
                <div>
                    <dt>Nazwa użytkownika</dt>
                    <dd>{{ app.user.name }}</dd>
                </div>

                <div>
                    <dt>Data ostatniej aktywności</dt>
                    <dd>{{ app.user.lastActivityDate|date_format }}</dd>
                </div>

                <div>
                    <dt>Data założenia konta</dt>
                    <dd>{{ app.user.registerDate|date_format }}</dd>
                </div>

                <div>
                    <dt>Stan profilu publicznego</dt>
                    <dd>{{ app.user.publicProfile ? 'włączony' : 'wyłączony' }}</dd>
                </div>

                <div>
                    <dt>Liczba utworzonych wykazów</dt>
                    <dd>{{ app.user.radioTablesCount }}</dd>
                </div>
            </dl>
        </div>
        <div>
            <h3>Profil publiczny</h3>

            <p class="information">Publiczna strona profilowa zawiera spis twoich wykazów oraz poniższy opis. Włączenie publicznej strony profilowej ujawni twoją nazwę użytkownika i&nbsp;spowoduje umieszczenie odnośnika do twojego profilu pod każdym twoim wykazem.</p>

            <dl>
                {{ form_row(form.aboutMe) }}
                {{ form_row(form.publicProfile) }}
            </dl>
        </div>
        <div>
            <h3>Zmiana hasła</h3>

            <p class="information">Jeżeli nie chcesz zmieniać hasła, pozostaw pola puste.</p>

            <dl>
                {{ form_row(form.currentPassword) }}
                {{ form_row(form.plainPassword) }}
            </dl>
        </div>
    </div>

    <button>Zapisz</button>

    {{ form_end(form) }}
{% endblock %}
