{% extends 'layout.html.twig' %}

{% block head_closing %}
    {{ encore_entry_link_tags('my-account-settings') }}
    {{ encore_entry_script_tags('my-account-settings') }}
{% endblock %}

{% block page_title %}{{ 'user.settings.title_long'|trans }}{% endblock %}

{% block page_content %}
    <header>
        <h1>{{ 'user.settings.title_long'|trans }}</h1>
    </header>

    {{ form_start(form) }}

    <div class="ui-block">
        <div class="ui-block-heading">
            <h2>{{ 'user.settings.heading.public_profile'|trans }}</h2>
        </div>

        <div class="ui-block-content">
            {{ form_row(form.publicProfile) }}
            {{ form_row(form.aboutMe) }}
        </div>
    </div>

    <div class="ui-block">
        <div class="ui-block-heading">
            <h2>{{ 'user.settings.heading.change_password'|trans }}</h2>
        </div>

        <div class="ui-block-content">
            {{ form_row(form.currentPassword) }}
            {{ form_row(form.plainPassword) }}
        </div>
    </div>

    <div class="form-action-button">
        <button>{{ 'common.action.save'|trans }}</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
