{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'user.my_radio_tables.title'|trans }}{% endblock %}

{% block context_menu %}
    <ul>
        <li><a href="{{ path('radio_table.create') }}">{{ 'radio_table.create.title'|trans }}</a></li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h1>{{ 'user.my_radio_tables.title'|trans }}</h1>
    </header>

    {% if radio_tables %}
        {% set show_visibility = true %}
        {% include 'common/radio_tables_list.html.twig' %}
    {% else %}
        <p class="information">
            {{ 'user.my_radio_tables.information.no_radio_tables'|trans({
                '%anchor%': '<a href="' ~ path('radio_table.create') ~ '">',
                '%anchor_end%': '</a>',
            })|raw }}
        </p>
    {% endif %}
{% endblock %}

