{% extends 'layout.html.twig' %}

{% block page_title %}{{ user.name }}{% endblock %}

{% block page_content %}
    <header>
        <h2><strong>{{ user.name }}</strong> — profil użytkownika</h2>
    </header>

    {% if user.aboutMe is not empty %}
        <section class="userProfile userInfo">
            <h3>Informacje o użytkowniku</h3>

            {{ user.aboutMe|raw }}
            <dl>
                <dt>Data ostatniej aktywności</dt>
                <dd>{{ user.lastActivityDate|date_format }}</dd>
                <dt>Data założenia konta</dt>
                <dd>{{ user.registerDate|date_format }}</dd>
            </dl>
        </section>
    {% endif %}

    <section class="userProfile">
        <h3>Wykazy tego użytkownika</h3>

        {% if radiotables_list is empty %}
            <p class="information">Ten użytkownik nie utworzył jeszcze żadnego wykazu.</a></p>
        {% else %}
            {{ radiotables_list|raw }}
        {% endif %}
    </section>
{% endblock %}
