{% extends 'layout.html.twig' %}

{% block page_title %}{{ user.name }}{% endblock %}

{% block head_closing %}
    {# User name is case insensitive. #}
    <link rel="canonical" href="{{ path('user.public_profile', {name: user.name}) }}">

    {{ encore_entry_link_tags('user-public-profile') }}
{% endblock %}

{% block page_content %}
    <header>
        <h1>
            {{ 'user.public_profile.title_pattern'|trans({
                '%username%': '<strong>' ~ user.name ~ '</strong>',
            })|raw }}
        </h1>
    </header>

    {% if user.aboutMe is not empty %}
        <div class="user-profile-page user-profile-description">
            <h2>{{ 'user.public_profile.heading.details'|trans }}</h2>

            {{ user.aboutMe|raw }}
        </div>
    {% endif %}

    <dl class="user-profile-details">
        <div>
            <dt>{{ 'user.detail.last_activity_date'|trans }}</dt>
            <dd>{{ user.lastActivityDate|format_date_html }}</dd>
        </div>
        <div>
            <dt>{{ 'user.detail.register_date'|trans }}</dt>
            <dd>{{ user.registerDate|format_date_html }}</dd>
        </div>
    </dl>

    <div class="user-profile-page">
        <h2>{{ 'user.public_profile.heading.radio_tables'|trans }}</h2>

        {% if radio_tables %}
            {% include 'common/radio_tables_list.html.twig' %}
        {% else %}
            <p class="information">
                {{ 'user.public_profile.information.no_radio_tables'|trans }}
            </p>
        {% endif %}
    </div>
{% endblock %}
