{% extends 'layout.html.twig' %}

{% block page_title %}Rejestracja{% endblock %}

{% block head_closing %}
    <script src="{{ asset('scripts/formsUI.js') }}" defer></script>
{% endblock %}

{% form_theme form _self %}
{% block _user_register_acceptServiceTerms_label %}
    {{ block('form_label')|replace(
        {'regulamin': '<a href="' ~ path('terms_of_service') ~ '" tabindex="-1" target="_blank">regulamin</a>'}
    )|raw }}
{% endblock %}

{% block page_content %}
    <header class="userLoginScreen">
        <h2>Konto użytkownika — logowanie i rejestracja</h2>
    </header>

    {{ form_start(form) }}

    <div id="useTabbedUI" class="userLoginScreen">
        <div>
            <h3>Zarejestruj się</h3>

            <dl>
                {{ form_row(form.name, {attr: {title: "Tylko litery A-Z, cyfry oraz podkreślnik, myślnik, kropka."}}) }}
                {{ form_row(form.plainPassword) }}

                {% spaceless %}
                    {{ form_row(form.acceptServiceTerms) }}
                {% endspaceless %}
            </dl>

            <button>Zarejestruj się</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
