{% form_theme form 'user/_register_theme.html.twig' %}

{% extends 'layout.html.twig' %}

{% block head_closing %}
    {{ encore_entry_link_tags('user-login-register') }}
{% endblock %}

{% block page_title %}{{ 'user.register.title'|trans }}{% endblock %}

{% block page_content %}
    {{ form_start(form) }}

    <div class="user-login-screen">
        <h1 class="h2">{{ 'user.register.title'|trans }}</h1>

        <div class="ui-block">
            <div class="ui-block-content">
                {{ form_row(form.name) }}
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.acceptServiceTerms, {label_translation_parameters: {
                    '%anchor%': '<a href="' ~ path('terms_of_service') ~ '" target="_blank">',
                    '%anchor_end%': '</a>',
                }}) }}
            </div>
        </div>

        <button>{{ 'user.register.title'|trans }}</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
