{% form_theme form 'user/_register_theme.html.twig' %}

{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'user.register.title'|trans }}{% endblock %}

{% block page_content %}
    {{ form_start(form) }}

    <div class="user-login-screen">
        <h1 class="h2">{{ 'user.register.title'|trans }}</h1>

        {{ form_row(form.name) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.acceptServiceTerms, {label_translation_parameters: {
            '%anchor%': '<a href="' ~ path('terms_of_service') ~ '" target="_blank">',
            '%anchor_end%': '</a>',
        }}) }}

        <button>{{ 'user.register.title'|trans }}</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
